In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [2]:
a = 10
b = 5
print(a+b)

15

## data types

In [3]:
a = 10 #int
pi = 3.14 #float
name = "apple" #string
b = True #bool

In [5]:
print(name)

apple

In [8]:
print('hello world!')

hello world!

In [10]:
print(15)

15

In [15]:
print(type(b))

<class 'bool'>

In [24]:
# hello apple
# hell0 10

#method 1
print("hello "+name)
print("hello "+str(a))

print("--------------------------")

#method 2
print("hello",name)
print("hello",a)

print("--------------------------")

#method 3
print("hello %s"%name)
print("hello %d"%a)

print("--------------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
--------------------------
hello apple
hello 10
--------------------------
hello apple
hello 10
--------------------------
hello apple
hello 10

In [23]:
print("I bought %dKg of %s and %dKg of %s which cost %0.2f"%(2,"apple",1,"mango",75.360000))

I bought 2Kg of apple and 1Kg of mango which cost 75.36

In [27]:
print("I bought {0}Kg of {3} and {1}Kg of {2} which cost {4}".format(2,1,"mango","apple",75.360000))

I bought 2Kg of apple and 1Kg of mango which cost 75.36

#### task 1

assign a numerical value to a variable (n) and print the result in the following way

output:-
    nnn+nn+n

example:-

n=5

555+55+5 = 615

In [30]:
n=5
int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n

615

In [32]:
n='5'
int(n+n+n)+int(n+n)+int(n)

615

In [33]:
#numeric value
+ - * / %
#string
+ *

SyntaxError: invalid syntax (<ipython-input-33-c6f28ea08a71>, line 2)

In [34]:
n

'5'

In [38]:
int(n*3)+int(n*2)+int(n)

615

In [ ]:
#conditional operation
< > <= >= == !=

#logical operation
and or not ^ 

#misc operation

in, is in , not in ,is , is not

In [52]:
num = int(input("Enter the value for num :"))
name = input("Enter your name :")

Enter the value for num :85
Enter your name :mango

In [53]:
type(num)

int

In [54]:
num*2

170

In [55]:
print(name)

mango

### task 2
calculate the area of triangle ,square and rectangle by getting appropriate input from the user.

output:-
<br> The area of the triangle is 45 sq.cm whose base is 18 cm and height is 5 cm

In [64]:
#if-else
num = int(input("Enter the numerical value :"))
if num%2 == 0:
    print("even")
    if num <= 50:
        print(num)
else:
    print("odd")

Enter the numerical value :40
even
40

In [67]:
num = int(input("Enter the numerical value :"))
if num%4 == 0:
    print("divisible by 4 and even")
elif num%2 == 0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

### task 3
make a two player rock-paper-scissor game

Remember the rules:

    Rock beats scissors
    Scissors beats paper
    Paper beats rock

In [75]:
opt = 'y'
cnt = 0
while opt=="y":
    num = int(input("Enter the numerical value :"))
    if num == 15:
        print("bye....")
        break
    elif num == 25:
        print("skipping....")
        continue
    elif num == 10:
        cnt+=1
        pass
    if num%4 == 0:
        print("divisible by 4 and even")
    elif num%2 == 0:
        print("even")
    else:
        print("odd")
    opt = input("Do you want to continue? y/n")

Enter the numerical value :10
even
Do you want to continue? y/ny
Enter the numerical value :36
divisible by 4 and even
Do you want to continue? y/ny
Enter the numerical value :10
even
Do you want to continue? y/ny
Enter the numerical value :25
skipping....
Enter the numerical value :10
even
Do you want to continue? y/nn

In [76]:
cnt

3