In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [2]:
a = 10
b = 5
print(a+b)

15

## data types

In [3]:
a = 10 #int
pi = 3.14 #float
name = "apple" #string
b = True #bool

In [5]:
print(name)

apple

In [8]:
print('hello world!')

hello world!

In [10]:
print(15)

15

In [15]:
print(type(b))

<class 'bool'>

In [24]:
# hello apple
# hell0 10

#method 1
print("hello "+name)
print("hello "+str(a))

print("--------------------------")

#method 2
print("hello",name)
print("hello",a)

print("--------------------------")

#method 3
print("hello %s"%name)
print("hello %d"%a)

print("--------------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
--------------------------
hello apple
hello 10
--------------------------
hello apple
hello 10
--------------------------
hello apple
hello 10

In [23]:
print("I bought %dKg of %s and %dKg of %s which cost %0.2f"%(2,"apple",1,"mango",75.360000))

I bought 2Kg of apple and 1Kg of mango which cost 75.36

In [27]:
print("I bought {0}Kg of {3} and {1}Kg of {2} which cost {4}".format(2,1,"mango","apple",75.360000))

I bought 2Kg of apple and 1Kg of mango which cost 75.36

#### task 1

assign a numerical value to a variable (n) and print the result in the following way

output:-
    nnn+nn+n

example:-

n=5

555+55+5 = 615

In [30]:
n=5
int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n

615

In [32]:
n='5'
int(n+n+n)+int(n+n)+int(n)

615

In [33]:
#numeric value
+ - * / %
#string
+ *

SyntaxError: invalid syntax (<ipython-input-33-c6f28ea08a71>, line 2)

In [34]:
n

'5'

In [38]:
int(n*3)+int(n*2)+int(n)

615

In [ ]:
#conditional operation
< > <= >= == !=

#logical operation
and or not ^ 

#misc operation

in, is in , not in ,is , is not

In [52]:
num = int(input("Enter the value for num :"))
name = input("Enter your name :")

Enter the value for num :85
Enter your name :mango

In [53]:
type(num)

int

In [54]:
num*2

170

In [55]:
print(name)

mango

### task 2
calculate the area of triangle ,square and rectangle by getting appropriate input from the user.

output:-
<br> The area of the triangle is 45 sq.cm whose base is 18 cm and height is 5 cm

In [64]:
#if-else
num = int(input("Enter the numerical value :"))
if num%2 == 0:
    print("even")
else:
    print("odd")

Enter the numerical value :40
even
40

In [67]:
num = int(input("Enter the numerical value :"))
if num%4 == 0:
    print("divisible by 4 and even")
elif num%2 == 0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

### task 3
make a two player rock-paper-scissor game

Remember the rules:

    Rock beats scissors
    Scissors beats paper
    Paper beats rock

In [75]:
opt = 'y'
cnt = 0
while opt=="y":
    num = int(input("Enter the numerical value :"))
    if num == 15:
        print("bye....")
        break
    elif num == 25:
        print("skipping....")
        continue
    elif num == 10:
        cnt+=1
        pass
    if num%4 == 0:
        print("divisible by 4 and even")
    elif num%2 == 0:
        print("even")
    else:
        print("odd")
    opt = input("Do you want to continue? y/n")

Enter the numerical value :10
even
Do you want to continue? y/ny
Enter the numerical value :36
divisible by 4 and even
Do you want to continue? y/ny
Enter the numerical value :10
even
Do you want to continue? y/ny
Enter the numerical value :25
skipping....
Enter the numerical value :10
even
Do you want to continue? y/nn

In [76]:
cnt

3

In [1]:
#string operation
string  = "apple is a fruit"
string1 = "Python Is a Programming Language"
string2 = " Sunday "

In [6]:
print(string[3:9])

le is

In [13]:
string[:6]
string[-1]
string[-6:-1]
string[::-1]

'tiurf a si elppa'

In [14]:
len(string)

16

In [16]:
string[0]="A"

TypeError: 'str' object does not support item assignment

In [34]:
string.capitalize()#to make the first letter of the string into capital case
string1.casefold()
string.count('p')
enc = string.encode("utf16")

In [37]:
enc.decode("utf16")

'apple is a fruit'

In [41]:
string.endswith("iT")
string.startswith("pp")

False

In [63]:
string.find("p")

1

In [64]:
string.index("p")

1

In [65]:
"1234 {}".format(56)

'1234 56'

In [66]:
string1.lower()

'python is a programming language'

In [67]:
string.upper()

'APPLE IS A FRUIT'

In [68]:
string.title()

'Apple Is A Fruit'

In [70]:
string1.swapcase()

'pYTHON iS A pROGRAMMING lANGUAGE'

In [85]:
string2.strip("y ")

'Sunda'

In [87]:
string1.split()

['Python', 'Is', 'a', 'Programming', 'Language']

In [90]:
f = string1.split('a')

In [92]:
"a".join(f)

'Python Is a Programming Language'

In [93]:
f

['Python Is ', ' Progr', 'mming L', 'ngu', 'ge']

In [97]:
"5 ".isspace()

False

In [98]:
string.isupper()

False

### task 4

input = "Elephant is the biggest mammal in the earth ."

convert the above input as follows:-

  ". earth the in mammal biggest the is Elephant"

In [99]:
text = "Elephant is the biggest mammal in the earth ."

In [112]:
print(text.split('a'))
" ".join(text.split('a')[::-1])
print(text1)

['Eleph', 'nt is the biggest m', 'mm', 'l in the e', 'rth .']
['.', 'earth', 'the', 'in', 'mammal', 'biggest', 'the', 'is', 'Elephant']

In [104]:
text1 = text.split()[::-1]

In [109]:
t = " "
t.join(text1)

'. earth the in mammal biggest the is Elephant'

In [108]:
string1.count("a")

4

### task 5 - Guess game 

Use the following two lines to generate the random numbers (Explanation will be given later in the course)

import random

comp = random.randint(0,100) -> to generate a random number between  0 and 100

the computer will generate a random number and you have to guess the number...

everytime when you enter the number, computer should the following outputs as a validation result,

high -> if a entered number is greater than generated one

low -> if a entered number is lesser than generated one

bingo -> if a entered number is correct

In [113]:
#list
a = []
a = list()

In [26]:
b = ["high","low","tall","short",4,1,2,3,5]

In [116]:
len(b)

9

In [117]:
b[1]

'low'

In [120]:
string.replace("a","A")

'Apple is A fruit'

In [121]:
b[2]

'tall'

In [122]:
b.index("tall")

2

In [124]:
b[2] = "large"

In [125]:
b

['high', 'low', 'large', 'short', 4, 1, 2, 3, 5]

In [127]:
del b[3]

In [129]:
b[::-1]

[5, 3, 2, 1, 4, 'large', 'low', 'high']

In [130]:
b

['high', 'low', 'large', 4, 1, 2, 3, 5]

In [131]:
b.append("mango")

In [132]:
b

['high', 'low', 'large', 4, 1, 2, 3, 5, 'mango']

In [134]:
b.insert(3,"small")

In [135]:
b

['high', 'low', 'large', 'small', 4, 1, 2, 3, 5, 'mango']

In [136]:
b.pop()

'mango'

In [137]:
b

['high', 'low', 'large', 'small', 4, 1, 2, 3, 5]

In [138]:
b.remove(2)

In [139]:
b

['high', 'low', 'large', 'small', 4, 1, 3, 5]

In [140]:
c=b.copy()

In [142]:
c.clear()

In [143]:
c

[]

In [145]:
b.count('large')

1

In [146]:
b.reverse()

In [147]:
b

[5, 3, 1, 4, 'small', 'large', 'low', 'high']

In [148]:
b

[5, 3, 1, 4, 'small', 'large', 'low', 'high']

In [149]:
b[::-1]

['high', 'low', 'large', 'small', 4, 1, 3, 5]

In [150]:
b

[5, 3, 1, 4, 'small', 'large', 'low', 'high']

In [151]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [154]:
a.append("orange")

In [155]:
a

['apple', 'orange']

In [156]:
a+b

['apple', 'orange', 1, 3, 4, 5, 'small', 'large', 'low', 'high']

In [157]:
b.extend(a)

In [158]:
b

[1, 3, 4, 5, 'small', 'large', 'low', 'high', 'apple', 'orange']

In [27]:
#tuple

t = (5, 3, 1, 4, 'small', 'large', 'low', 'high')

In [160]:
t

(5, 3, 1, 4, 'small', 'large', 'low', 'high')

In [161]:
type(t)

tuple

In [162]:
t[2:5]

(1, 4, 'small')

In [163]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [165]:
t[2] =4

TypeError: 'tuple' object does not support item assignment

In [ ]:
#local to github
git add .
git commit -am "commit message"
git push origin master

#github to local
git clone https://github.com/sharmasaravanan/Machine_learning.git

#updating the local from github (probably every weekend)
git pull https://github.com/sharmasaravanan/Machine_learning.git

In [ ]:
#dictionary
#for loop
#library

#functions
#error handling
#visualization

#file handling -> tsv,csv,txt,excel,json,db, mysqldb

In [4]:
d = {}
dictionary = {'a':'apple','b':'ball','c':'cat',1:'dog','e':6,1:"elephant"}

In [9]:
dictionary['c']

'cat'

In [10]:
dictionary.keys()

dict_keys(['a', 'b', 'c', 1, 'e'])

In [11]:
dictionary.values()

dict_values(['apple', 'ball', 'cat', 'elephant', 6])

In [12]:
dictionary.items()

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat'), (1, 'elephant'), ('e', 6)])

In [18]:
dictionary.pop(1)

'elephant'

In [20]:
dictionary.popitem()

('e', 6)

In [24]:
d.update({'d':'donkey','e':'elephant'})

In [23]:
dictionary

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'donkey', 'e': 'elephant'}

In [28]:
d= {'dict':dictionary,'list':b,'tuple':t}

In [29]:
d

{'dict': {'a': 'apple',
  'b': 'ball',
  'c': 'cat',
  'd': 'donkey',
  'e': 'elephant'},
 'list': ['high', 'low', 'tall', 'short', 4, 1, 2, 3, 5],
 'tuple': (5, 3, 1, 4, 'small', 'large', 'low', 'high')}

In [31]:
d['tuple']

(5, 3, 1, 4, 'small', 'large', 'low', 'high')

In [32]:
b

['high', 'low', 'tall', 'short', 4, 1, 2, 3, 5]

In [33]:
t

(5, 3, 1, 4, 'small', 'large', 'low', 'high')

In [35]:
dictionary

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'donkey', 'e': 'elephant'}

In [43]:
for i in b:
    print(i)

high
low
tall
short
4
1
2
3
5

In [40]:
name="apple"

In [44]:
b

['high', 'low', 'tall', 'short', 4, 1, 2, 3, 5]