## 12-01-2019

In [1]:
print("hello world")

hello world

In [3]:
a = 5
b = 10
print(a+b)

15

In [3]:
a = 5#int
f = 3.14#float
s = 'apple'#string
b = True#bool

In [6]:
print(type(s))
print(type(b))

<class 'str'>
<class 'bool'>

In [8]:
print(f)

3.14

In [9]:
print(4)

4

## 19-01-2019

In [1]:
print("hello")

hello

In [2]:
print(12345678945612)

12345678945612

In [10]:
#welcome apple
#welcome 5

#method-1
print("welcome",s)
print("welcome",a)
print(" ")
#methode-2
print("welcome "+s)
print("welcome "+str(a))
print(" ")
#methode-3
print("welcome %s"%s)
print("welcome %d"%a)
print(" ")
#methode-4
print("welcome {}".format(s))
print("welcome {}".format(a))

welcome apple
welcome 5

welcome apple
welcome 5

welcome apple
welcome 5

welcome apple
welcome 5

In [12]:
#I bought a book of 500 pages which costs 150rs.

print("Method-1:-")
print("\tI bought a book of",500,"pages which costs",150,"rs.")
print("Method-2:-")
print("\tI bought a book of "+str(500)+" pages which costs "+str(150)+"rs.")
print("Method-3:-")
print("\tI bought a book of %d pages which costs %drs."%(500,150))
print("Method-4:-")
print("\tI bought a book of {} pages which costs {}rs.".format(500,150))

Method-1:-
	I bought a book of 500 pages which costs 150 rs.
Method-2:-
	I bought a book of 500 pages which costs 150rs.
Method-3:-
	I bought a book of 500 pages which costs 150rs.
Method-4:-
	I bought a book of 500 pages which costs 150rs.

In [ ]:
        *
    *        *
*       *       *

n = 4
(444+44+4)
ans = 492 

n*111 n*11 n*1

In [19]:
n=4
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

ans1 = int(str(n)*3)+int(str(n)*2)+n
print(ans1)

492
492

#operator overloading
+ -> addition arithmetic operation (int + int)
5 + 3
+ -> string concatenation (string + string)
"welcome" + "apple"

* -> multiplication arithmetic operation (int * int)
2 * 3
* -> string duplications (string* int)
"apple"*3

In [20]:
"apple"*3

'appleappleapple'

In [ ]:
operators:
    arithmetic:-
        + - * / %
    conditional:-
        < > <= >= == !=
    logical:-
        and or not
    misc:-
        is , is in , not in ,in

In [36]:

n = float(input("Enter the value :"))

Enter the value :3.14

In [37]:
type(n)

float

In [38]:
n+4

7.140000000000001

## 20-01-19

In [3]:
num = int(input("Enter the number :"))
if num%2 == 0:
    print("Even")
else:
    print("Odd")

Enter the number :7
Odd

In [5]:
num = int(input("Enter the number :"))
if num%4 == 0:
    print("Divisible by 4 and Even")
elif num%2==0:
    print("Even")
else:
    print("Odd")

Enter the number :10
Even

In [10]:
i = 1
name = input("Enter your name :")
while i<= len(name):
    num = int(input("Enter the number :"))
    if num%4 == 0:
        print("Divisible by 4 and Even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")
    i += 1

Enter your name :apple
Enter the number :8
Divisible by 4 and Even
Enter the number :7
Odd
Enter the number :6
Even
Enter the number :5
Odd
Enter the number :4
Divisible by 4 and Even

In [13]:
while True:
    num = int(input("Enter the number :"))
    
    if num == 10:
        print("bye...")
        break
    elif num == 15:
        print("continue")
        continue
        
    if num%4 == 0:
        print("Divisible by 4 and Even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")

Enter the number :25
Odd
Enter the number :36
Divisible by 4 and Even
Enter the number :15
continue
Enter the number :14
Even
Enter the number :10
bye...

1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [15]:
name = "jupyter"

In [16]:
len(name)

7

In [17]:
name[4]

't'

In [18]:
name[-3]

't'

In [19]:
name[2:]

'pyter'

In [20]:
name[:4]

'jupy'

In [21]:
name[2:5]

'pyt'

In [22]:
name[::-1]

'retypuj'

In [23]:
name[2:6:2]

'pt'

In [24]:
name[2:6]

'pyte'

In [25]:
name.capitalize()

'Jupyter'

In [47]:
"ApPlE".casefold()
name.center(15," ")
name.count('j')
name.encode("utf-8").decode("utf-8")
name.endswith("eR")
name.startswith("ju")
name.find("t")
name.index("y")
name.lower()
name.upper()
name.swapcase()

'JUPYTER'

In [52]:
name = "jupyter"

In [51]:
name.strip()

'jupyter'

In [53]:
name.replace('p','G')

'juGyter'

In [55]:
"apple is a fruit".title()

'Apple Is A Fruit'

In [56]:
name.zfill(15)

'00000000jupyter'

In [59]:
nam = "apple is a fruit"

In [63]:
g = nam.split('i')

In [64]:
g

['apple ', 's a fru', 't']

In [65]:
'i'.join(g)

'apple is a fruit'