In [3]:
print(paste("hello","apple"))

[1] "hello apple"

In [4]:
cat("hello","apple")

hello apple

In [17]:
a <- 5 
b <- 3.14
c <- "apple"
d <- TRUE
e <- c("a","apple",1)

In [11]:
print(class(d))

[1] "logical"

In [14]:
5 -> a

In [22]:
#print(class(e[3]))

In [25]:
class(a)

[1] "numeric"

ERROR: Error in as.character(a) * 3: non-numeric argument to binary operator

In [29]:
555+55+5

[1] 615

In [56]:
n <- as.character(5)

In [57]:
ans <- as.numeric(cat(n,n,n))

5 5 5

In [58]:
print(ans)

numeric(0)

In [63]:
class()

[1] "character"

In [64]:
ans<-paste(rep(n,3))

In [65]:
print(ans)

[1] "5" "5" "5"

In [77]:
num<-as.numeric(readline(prompt = "Enter the numerical value :"))

Enter the numerical value :hi

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [78]:
print(class(num))

[1] "numeric"

In [79]:
print(num)

[1] NA

In [75]:
print(a)
print(b)

[1] 5
[1] 3.14

In [82]:
4%%3

[1] 1

In [103]:
num <- as.numeric(readline(prompt = "Enter the numerical value :"))
if (num%%4==0){
    print("divisible by 4 and even")
} else if (num%%2==0){
    print("even")
} else {
    print("odd")
}

Enter the numerical value :5
[1] "odd"

In [91]:
ls()

[1] "a"   "ans" "b"   "c"   "d"   "e"   "n"   "num"

In [99]:
n <- LETTERS[1:10]

In [100]:
n

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J"

ERROR: Error in parse(text = x, srcfile = src): <text>:1:1: unexpected '|'
1: |
    ^

In [106]:
3^2

[1] 9

In [107]:
#switch
#repeat
#while
#for
#function
#dataframe
#list

In [114]:
"The area of the circle with radius 5 cm is 80 sq.cm"

[1] "The area of the circle with radius 5 cm is 80 sq.cm"

In [115]:
r<-5
area<-80

In [122]:
print(paste("The area of the circle with radius",r," cm is",area," sq.cm"))

[1] "The area of the circle with radius 5  cm is 80  sq.cm"

[1] "The area of the circle with radius 5  cm is 80  sq.cm"

In [8]:
repeat{
print("hello")
b <- sample(20,1)
print(paste("pass",b))
if (b<=5){
   print(b)
   break
}
}

[1] "hello"
[1] "pass 5"
[1] 5

In [7]:
repeat {
    user <- readline(prompt = "Enter your choice :")
    comp <- readline(prompt = "Enter Comp's choice :")
    if (user=="quit"||user=="q"){
         print ("Good Bye....")
         break
    }
    print(paste("Your choice is ",user,"and computer choice is ",comp))
    if (user==comp){ 
        print("Game is tie")
        next
    } else if (user=="rock") {
          if (comp=="scissor") {
              print ("user won the game")
           } else {
              print ("Computer won the game")
           }
    } else if (user=="scissor") {
           if (comp=="paper") {
              print ("user won the game")
           } else {
              print ("computer won the game")
           }
    } else if (user=="paper") {
            if (comp=="rock") {
              print ("user won the game")
            } else {
              print ("computer won the game")
            }
    } else {
            print ("Have a nice day....!!!")
    }
    opt <- readline(prompt = "Do you want to continue? y/n ")
    if (opt!="y"){
        break
    }
}

Enter your choice :rock
Enter Comp's choice :rock
Enter your choice :paper
Enter Comp's choice :paper
Enter your choice :rock
Enter Comp's choice :paper
Do you want to continue? y/nn
[1] "Your choice is  rock and computer choice is  rock"
[1] "Game is tie"
[1] "Your choice is  paper and computer choice is  paper"
[1] "Game is tie"
[1] "Your choice is  rock and computer choice is  paper"
[1] "Computer won the game"

In [12]:
cnt<-1
while (cnt<=5){
    print("hello")
    cnt <- cnt+1
}

[1] "hello"
[1] "hello"
[1] "hello"
[1] "hello"
[1] "hello"

In [32]:
x<- "fruit"

In [33]:
y <- switch(
    x,"color"="red","object"="rectangle","fruit"="mango")

In [34]:
y

[1] "mango"

In [37]:
mean(1:10)
var(1:10)
sd(1:10)

[1] 5.5

[1] 9.166667

[1] 3.02765

In [39]:
sample(5:100,2)

[1] 72 15

In [40]:
choice <- list("rock","paper","scissor")

In [44]:
choice

[[1]]
[1] "rock"

[[2]]
[1] "paper"

[[3]]
[1] "scissor"

In [47]:
sample(choice,1)

[[1]]
[1] "paper"

In [64]:
min<-0
max<-100
attempt<-0
i<-0
while (i<1) {
    print("Think any number between 0-100 and keep it with you, let me find out!!")
    comp<-sample(min:max,1)
    print(sprintf("\nIsn't it %d ?",comp))
    user<-readline(prompt = "Enter the option \n a.high \n b.low \n c.Bingo \n")
    attempt<-attempt+1
    if (user=="low")||(user=="b") {
        min<-comp+1
        next
    } else if (user=="high") || (user=="a") {
        max<-comp-1
        next
    } else if (user=="bingo") || (user=="c") {
        print ("\nThe number is in your mind is %d and computer took %d attempts"%(comp,attempt))
        break
    } else {
        print ("\nPlease enter the valid option")
        break
}
}

ERROR: Error in parse(text = x, srcfile = src): <text>:11:21: unexpected '||'
10:     attempt<-attempt+1
11:     if (user=="low")||
                        ^

In [65]:
x<-list(1,1,2,3,4,4)

In [66]:
unique(x)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

In [1]:
#function
#for loop
#list

In [2]:
l <- list(1,2,3,'a','b','c','apple','ball',c(5,6,'e'))

In [9]:
l[9]

[[1]]
[1] "5" "6" "e"

In [10]:
l <- c(l,"mango")

In [12]:
j <- l

In [13]:
j

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] "a"

[[5]]
[1] "b"

[[6]]
[1] "c"

[[7]]
[1] "apple"

[[8]]
[1] "ball"

[[9]]
[1] "5" "6" "e"

[[10]]
[1] "mango"

In [18]:
for (i in LETTERS[1:10]){
    print(utf8ToInt(i))
}

[1] 65
[1] 66
[1] 67
[1] 68
[1] 69
[1] 70
[1] 71
[1] 72
[1] 73
[1] 74

In [23]:
i <- 10
e <- list()

In [24]:
e <- c(e,i)

In [25]:
e

[[1]]
[1] 10

In [27]:
l

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] "a"

[[5]]
[1] "b"

[[6]]
[1] "c"

[[7]]
[1] "apple"

[[8]]
[1] "ball"

[[9]]
[1] "5" "6" "e"

[[10]]
[1] "mango"

In [33]:
if (any(l!="a")) {
    print("yes")
}

[1] "yes"

In [50]:
if ('u' %in% l) {
    next
} else {
    
}

ERROR: Error in "u" %notin% l: could not find function "%notin%"

In [35]:
any(l=="a")

[1] TRUE

In [51]:
1:10 %notin% c(1,3,5,9)
sstr <- c("c","ab","B","bba","c",NA,"@","bla","a","Ba","%")
sstr[sstr %notin% c(letters, LETTERS)]

ERROR: Error in 1:10 %notin% c(1, 3, 5, 9): could not find function "%notin%"

In [68]:
add <- function(a,b){
    print(paste(a+b,a*b))
}

In [72]:
a <- as.numeric(readline(prompt = "Enter the value for a :"))
b <- as.numeric(readline(prompt = "Enter the value for b :"))   
add(a,b)

Enter the value for a :14
Enter the value for b :6
[1] "20 84"

In [71]:
s

[1] "54 200"