In [1]:
a=5#int
b=True#bool
c=3.14#float
d="apple"#string

In [18]:
a=10

In [3]:
print(a)

10

In [8]:
a=5.25

In [9]:
print(a)

5.25

In [29]:
print(type(str(a)))

<class 'str'>

In [17]:
print('hello world')

hello world

In [27]:
'''
hello apple
hello 10
'''
print("hello "+d)
print("hello",a)
print("hello "+str(a))

hello apple
hello 10
hello 10

In [35]:
n=5
ans=int(str(n)*3)+int(str(n)*2)+n
print(ans)

615

In [30]:
666+66+6

738

In [31]:
555+55+5

615

In [33]:
5*111+5*11+5

615

In [52]:
n=float(input("Enter the value for n :"))
name=input("enter your name :")

Enter the value for n :3.3
enter your name :hi

In [41]:
print(n)

15

In [42]:
type(n)

int

In [46]:
print("user %s entered the value %d for n"%(name,n))

user mango entered the value 20 for n

In [ ]:
area of circle,rectangle,triangle

The area of the circle is 25 sq.cm

In [50]:
int(3.3)

3

In [49]:
float(3)

3.0

In [55]:
int("3")

3

In [54]:
float('3.3')

3.3

In [ ]:
+ - * / % 
and or not  
> < <= >= == != 

a,b
a=b
a<=b
a>=b
a<b
a>b

In [56]:
b=5
a=b

In [57]:
a

5

In [60]:
n=int(input("Enter the value for n :"))
if n%2==0:
    print("Even")
else:
    print("odd")

Enter the value for n :5
odd

In [63]:
n=int(input("Enter the value for n :"))
if n%4==0:
    print("divisible by 4 and Even")
elif n%2==0:
    print("even")
else:
    print("odd")

Enter the value for n :5
odd

In [ ]:
opt-> circle,rectangle,triangle