In [1]:
a=5#int
b=True#bool
c=3.14#float
d="apple"#string

In [18]:
a=10

In [3]:
print(a)

10

In [8]:
a=5.25

In [9]:
print(a)

5.25

In [29]:
print(type(str(a)))

<class 'str'>

In [17]:
print('hello world')

hello world

In [27]:
'''
hello apple
hello 10
'''
print("hello "+d)
print("hello",a)
print("hello "+str(a))

hello apple
hello 10
hello 10

In [35]:
n=5
ans=int(str(n)*3)+int(str(n)*2)+n
print(ans)

615

In [30]:
666+66+6

738

In [31]:
555+55+5

615

In [33]:
5*111+5*11+5

615

In [52]:
n=float(input("Enter the value for n :"))
name=input("enter your name :")

Enter the value for n :3.3
enter your name :hi

In [41]:
print(n)

15

In [42]:
type(n)

int

In [46]:
print("user %s entered the value %d for n"%(name,n))

user mango entered the value 20 for n

In [ ]:
area of circle,rectangle,triangle

The area of the circle is 25 sq.cm

In [50]:
int(3.3)

3

In [49]:
float(3)

3.0

In [55]:
int("3")

3

In [54]:
float('3.3')

3.3

In [ ]:
+ - * / % 
and or not  
> < <= >= == != 

a,b
a=b
a<=b
a>=b
a<b
a>b

In [56]:
b=5
a=b

In [57]:
a

5

In [1]:
n=int(input("Enter the value for n :"))
if n%2==0:
    print("Even")
else:
    print("odd")

Enter the value for n :10
Even

In [5]:
n=int(input("Enter the value for n :"))
if n%4==0:
    print("divisible by 4 and Even")
elif n%2==0:
    print("even")
else:
    print("odd")

Enter the value for n :5
odd

In [ ]:
opt-> circle,rectangle,triangle

In [14]:
count=0
opt='y'
while opt=='y':
    n=int(input("Enter the value for n :"))
    if n==15:
        print("Goodbye!!!")
        break
    elif n==25:
        print("skipping...")
        continue
    elif n==20:
        count+=1
        pass
    if n%4==0:
        print("divisible by 4 and Even")
    elif n%2==0:
        print("even")
    else:
        print("odd")
    opt=input("Do you want to continue? y/n")
print("The number 20 is repeated for %d"%count)

Enter the value for n :78
even
Do you want to continue? y/ny
Enter the value for n :33
odd
Do you want to continue? y/nn
The number 20 is repeated for 0

## Rock-Paper-Scissor game

rock beats scissor

paper beats rock

scissor beats paper

In [24]:
while 1:
    user1=input("user1 :")
    user2=input("user2 :")
    if user1=="q" or user2=="q":
        print("good bye")
        break
    if (user1 =="rock" and user2=="scissor"):
        print("user1 won the game")
    elif (user1 =="paper" and user2=="rock"):
        print("user1 won the game")
    elif (user1 =="scissor" and user2=="paper"):
        print("user1 won the game")
    elif user1 ==user2:
        print("game is tie")
    else:
        print("user2 won the game")

user1 :paper
user2 :q
good bye

In [25]:
import random as r
comp=r.randint(0,50)

In [31]:
r.randint(0,50)

46

In [56]:
name="elephaNT"

In [48]:
name[2:6:1]

'epha'

In [41]:
len(name)

8

In [51]:
name[-5:-1]

'phan'

In [52]:
name[::-1]

'tnahpele'

In [54]:
print(name.capitalize())

Elephant

In [60]:
name.casefold()
name.swapcase()

'elephaNT'

In [64]:
name.count('e')

2

In [67]:
name.encode()

b'elephaNT'

In [69]:
print(name.endswith('NT'))
print(name.startswith('e'))

True
True

In [70]:
name.lower()

'elephant'

In [71]:
name.upper()

'ELEPHANT'

In [84]:
name.index('h')
#name.replace("NT","nt")
n=' '

In [86]:
name.isalpha()
name.isalnum()
n.isdigit()
n.isspace()
name.islower()
name.isupper()

False

In [87]:
name=" apple "

In [88]:
name.rstrip()

' apple'

In [89]:
name.lstrip()

'apple '

In [90]:
name.strip()

'apple'

In [91]:
name="elephant is a big animal"

In [94]:
d=name.split('a')

In [100]:
'a'.join(name.split('a'))

'elephant is a big animal'

In [96]:
d

['eleph', 'nt is ', ' big ', 'nim', 'l']

Elephant is an animal . --> . animal an is Elephant <br>
palindrome

In [102]:
stmt="Elephant is an animal ."

In [105]:
print(' '.join(stmt.split()[::-1]))

. animal an is Elephant

In [108]:
' '.join(stmt.split()[::-1])

'. animal an is Elephant'

In [109]:
name="madam"
nam="apple"

In [111]:
if nam==nam[::-1]:
    print("yes")

In [114]:
L=[]
l=[1,2,3,4,'apple','ball','cat','a','b','c']

In [120]:
a=l[::-1]

In [122]:
l.reverse()

In [121]:
a

['c', 'b', 'a', 'cat', 'ball', 'apple', 4, 3, 2, 1]

In [123]:
l

['c', 'b', 'a', 'cat', 'ball', 'apple', 4, 3, 2, 1]

In [128]:
l.append("dog")

In [130]:
l.pop()

'dog'

In [131]:
l

['c', 'b', 'a', 'cat', 'ball', 'apple', 4, 3, 2, 1, 'dog']

In [132]:
l.index('cat')

3

In [133]:
l.insert(3,"bat")

In [134]:
l

['c', 'b', 'a', 'bat', 'cat', 'ball', 'apple', 4, 3, 2, 1, 'dog']

In [135]:
l.remove('ball')

In [136]:
l

['c', 'b', 'a', 'bat', 'cat', 'apple', 4, 3, 2, 1, 'dog']

In [137]:
l.index(2)

8

In [139]:
l[8]="a"

In [140]:
l

['c', 'b', 'a', 'bat', 'cat', 'apple', 4, 3, 'a', 1, 'dog']

In [141]:
del l[9]

In [142]:
l

['c', 'b', 'a', 'bat', 'cat', 'apple', 4, 3, 'a', 'dog']

In [143]:
l.count('a')

2

In [144]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [150]:
l.extend(["elephant","mango"])

In [148]:
l.pop()

['elephant', 'mango']

In [151]:
l

['a', 'apple', 'b', 'bat', 'c', 'cat', 4, 3, 'a', 'dog', 'elephant', 'mango']

In [152]:
import random as r
comp=r.randint(100,999)

In [ ]:
a=10
a <- 10