In [1]:
#data types
a=5#int
pi=3.14#float
name='apple'#string
b=True#bool

In [5]:
print(type(b))

<class 'bool'>

In [10]:
print("hello world")

hello world

In [19]:
n=int(input("enter the value : "))

enter the value : 10

In [20]:
print(type(n))

<class 'int'>

In [28]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(n))

print("------------------")

#method 2
print("hello",name)
print("hello",n)

print("------------------")

#method 3
print("hello %s"%name)
print("hello %d"%n)

print("------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(n))

hello apple
hello 10
------------------
hello apple
hello 10
------------------
hello apple
hello 10
------------------
hello apple
hello 10

In [ ]:
+ - * / %
and or not
> < >= <= == !=

In [2]:
#if-else
num = int(input("Enter the numerical value : "))
if num%2==0:
    print("even")
else:
    print('odd')

Enter the numerical value : 5
odd

In [ ]:
#if-else-if
#if-else
num = int(input("Enter the numerical value : "))
if num%2=='b':
    print("even")
elif <condition>:
    <logic>
else:
    print('odd')

In [ ]:
the area of the sphere of radius 10cm is 120 sq.cm

In [4]:
print("a.circle\nb.sphere\nc.triangle")

a.circle
b.sphere
c.triangle

In [11]:
opt='y'
while opt=='y':
    num = int(input("Enter the numerical value : "))
    if num==15:
        print("goodbye...")
        break
    elif num==5:
        print("skipping...")
        continue
        
    if num%2==0:
        print("even")
    else:
        print('odd')
    opt=input("do you want to proceed? y/n")

Enter the numerical value : 14
even
do you want to proceed? y/ny
Enter the numerical value : 88
even
do you want to proceed? y/nn

#### Play rock paper scissors lizard spock

Scissors cuts paper.<br>
Paper covers rock.<br>
Rock crushes lizard.<br>
Lizard poisons Spock.<br>
Spock smashes scissors.<br>
Scissors decapitates lizard.<br>
Lizard eats paper.<br> 
Paper disproves Spock.<br> 
Spock vaporizes rock.<br> 
Rock crushes scissors.<br>

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [42]:
#string
name="elephant is an animal"

In [43]:
print(name[2:5])

eph

In [44]:
name[2:5:2]

'eh'

In [45]:
name.capitalize()
name.casefold()
name.count('l')
name.endswith('nT')
name.startswith('Ele')
name.find(' is an')
name.index(' is an')
name.isalnum()
name.isalpha()
name.isdecimal()
name.isidentifier()
name.lower()
name.upper()
name.swapcase()
name.replace('a','Z')

'elephZnt is Zn ZnimZl'

In [51]:
name.lstrip()
name.rstrip()
name.strip()
d=name.split()

In [29]:
n.isdigit()

True

In [54]:
' '.join(d)

'elephant is an animal'

In [55]:
name="elephant"

In [56]:
name[::-1]

'tnahpele'

In [57]:
name

'elephant'

1. Palindrome
2. Input:- "Sun rises in the east ."
   Output:- ". east the in rises Sun"

In [59]:
name=input("Enter your name :")

Enter your name :hi

In [60]:
name

'hi'

In [62]:
name="Sun rises in the east ."
' '.join(name.split()[::-1])

'. east the in rises Sun'

In [63]:
l=[]

In [64]:
l1=[1,2,3,4,'a','b','c','d','apple','ball','cat','dog']

In [65]:
len(l1)

12

In [66]:
l1.index('ball')

9

In [67]:
l1[9]='bat'

In [68]:
print(l1)

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'apple', 'bat', 'cat', 'dog']

In [69]:
del l1[9]

In [70]:
l1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'apple', 'cat', 'dog']

In [73]:
l1.append("elephant")

In [76]:
l1.insert(9,"ball")

In [77]:
l1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'apple', 'ball', 'cat', 'dog', 'elephant']

In [78]:
l1.pop()

'elephant'

In [80]:
l1.remove(4)

In [82]:
l1.count('a')

1

In [84]:
l.clear()

In [85]:
l1.reverse

[]

# l1[::-1]

In [88]:
l1.reverse()

In [90]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [4]:
l2=['mango','orange']

In [92]:
l1

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1]

In [93]:
l1+l2

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1, 'mango', 'orange']

In [94]:
l1

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1]

In [95]:
l1.extend(l2)

#

In [19]:
L=['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1, 'mango', 'orange']

In [100]:
import random as r
comp=r.randint(0,100)
comp

31

In [ ]:
Tuple
dictionary
for loop

In [2]:
t=("Monday","Tuesday","Wednesday","Thursday","Friday",0,1,2)

In [3]:
t

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 0, 1, 2)

In [5]:
l2

['mango', 'orange']

In [6]:
t.index("Monday")

0

In [9]:
t[0]="Sunday"

TypeError: 'tuple' object does not support item assignment

In [10]:
del t[0]

TypeError: 'tuple' object doesn't support item deletion

In [18]:
#for loop
for i,j in enumerate(range(21,30,2)):
    print(i,j,sep="\t")

0	21
1	23
2	25
3	27
4	29

In [26]:
for i,l in enumerate(t):
    print(i,l,sep=" --> ")

0 --> Monday
1 --> Tuesday
2 --> Wednesday
3 --> Thursday
4 --> Friday
5 --> 0
6 --> 1
7 --> 2

In [21]:
len(L)

13

In [28]:
a=[1,2,3,4,1,2,2,1,3,8,7,8,3]
b=[1,2,3,2,1,5,6,7,6,9]

In [30]:
c=[]
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)

In [31]:
c

[1, 2, 3, 7]

In [ ]:
for i in range(len(a)):
    for j in range(len(b)):
        if a[i]==b[j]:
            print(a[i])

In [33]:
d=[]
for i in a:
    if i in b and i not in d:
        d.append(i)

In [34]:
d

[1, 2, 3, 7]

In [36]:
list(set(a)&set(b))

[1, 2, 3, 7]

In [39]:
set(b)

{1, 2, 3, 5, 6, 7, 9}

In [40]:
b

[1, 2, 3, 2, 1, 5, 6, 7, 6, 9]

In [ ]:
https://w3resource.com/python-exercises/

In [8]:
#dictionary
d={'a':'apple','b':'ball',"c":45,4:"dog",'e':[2,4,5,6,7,8],'a':"pineapple"}

In [9]:
d['a']

'pineapple'

In [6]:
d['a']="mango"

In [11]:
d['f']=34

In [17]:
d.items()

dict_items([('a', 'pineapple'), ('b', 'ball'), ('c', 45), (4, 'dog'), ('e', [2, 4, 5, 6, 7, 8]), ('f', 34)])

In [18]:
d.keys()

dict_keys(['a', 'b', 'c', 4, 'e', 'f'])

In [20]:
d.values()

dict_values(['pineapple', 'ball', 45, 'dog', [2, 4, 5, 6, 7, 8], 34])

In [22]:
d.pop('a')

'pineapple'

In [23]:
d

{'b': 'ball', 'c': 45, 4: 'dog', 'e': [2, 4, 5, 6, 7, 8], 'f': 34}

In [27]:
for i,j in d.items():
    print(i,j,sep='\t')

b	ball
c	45
4	dog
e	[2, 4, 5, 6, 7, 8]
f	34

In [28]:
for i in d.keys():
    print(i)

b
c
4
e
f

In [ ]:
the date of birth of john is added to the dictionary

In [ ]:
library
functions
file handling
error handling
API/Webservice

In [ ]:
basic input/output
operations
string
list
tuple
dictionary
library

functions (copper)
error handling

file handling (both)
oops(both)

In [ ]:
network
GUI
Threading

In [29]:
#Error
try:
    print(g=5)
except NameError:
    print("There is an error!!!")
except TypeError as TE:
    print("There is a type error!!!")
    print(TE)
print("hello")

There is a type error!!!
'g' is an invalid keyword argument for this function
hello

In [4]:
import sys

In [6]:
sys.exit(0)

SystemExit: 0

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2971: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [7]:
name="apple"

In [8]:
name.lowr()

AttributeError: 'str' object has no attribute 'lowr'

In [9]:
import nltk

In [14]:
import logging

In [28]:
try:
    num = int(input("Enter the numerical value :"))
    print(num)
    if num <0:
        raise ValueError("Number should be a positive value")
    else:
        print("The entered number is %d"%num)
except ValueError as VE:
    print("Value error occured")
    #print(VE)

Enter the numerical value :-2
Value error occured

In [34]:
def show(name):
    return("hello "+name)

In [35]:
name=input("Name :")
ans=show(name)

Name :papaya

In [36]:
ans

'hello papaya'

In [37]:
class A:
    def show(self,name):
        print("hello "+name)

In [38]:
a=A()

In [40]:
a.show("pine apple")

hello pine apple

In [42]:
class B:
    def show(self,name):
        print("hello "+name)
    def manipulate(self,num):
        print(num*5)
        print(name)

In [43]:
b=B()

In [44]:
b.show("orange")

hello orange

In [45]:
b.manipulate(5)

25
papaya

In [50]:
class C:
    def show(self):
        name= input("Name :")
        print("hello "+name)
    def manipulate(self,num):
        self.num=num
        print(self.num*5)
        print(name)

In [51]:
c=C()

In [52]:
c.show()

Name :litchi
hello litchi

In [53]:
c.manipulate(10)

50
papaya

In [54]:
class D:
    def __init__(self,name,num):
        self.name = name
        self.num = num
    def show(self):
        print("The name is %s"%self.name)
    def mul(self):
        print(self.num*5+2)

In [67]:
d=D("chocolate",10)

In [68]:
d.mul()

52

In [58]:
d.show()

The name is chocolate

In [60]:
d.name

'chocolate'

In [62]:
d.num=25

In [63]:
d.num

25

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

<h1>file handling</h1>
txt,docx,csv,tsv,xlsx,json,xml,yml,pdf

<h3>widely used</h3>
txt,csv,tsv,json,yml,xlsx,xml,docx,pdf
1. txt -> no library
2. json -> json
3. csv,tsv,xlsx -> pandas
4. yml -> yaml
5. xml -> lxml
6. docx -> docx
7. pdf -> pdf miner </ul>

In [70]:
import pandas as pd

In [85]:
#txt
txtFile = open("./Candy.txt","a+")
txtFile.write("djkcbhdkjcbs/")
txtFile.write("\nslkjdclkjdsj")
txtFile.write("\ndskjkcsjkjsd")
txtFile.close()

In [82]:
txtRead = open("./Candy.txt","r")

In [83]:
txtRead.readlines()

['hello..!!\n', 'How are you?\n', 'i am fine']

In [84]:
txtFile.read()

ValueError: I/O operation on closed file.

In [95]:
#csv file
csvData = pd.read_csv("./fruits_vege.csv",index_col=0)

In [94]:
csvData.loc[:,"fruit":"fruits 2"]

    fruit vegetable    fruits 2
a   apple     onion       apple
b   mango    potato       mango
c  orange     beans  pine apple

In [91]:
csvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [100]:
#tsv
tsvData = pd.read_csv("./fruits_vege.tsv",delimiter="\t",index_col=0)

In [101]:
tsvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [102]:
#excel file
excelData = pd.read_excel("./Course Syllabus.xlsx")

In [105]:
excelData.head(3)

                   Syllabus Duration
0   Introduction to Python   40 mins
1      Environment creation  20 mins
2  variables and expression  45 mins

In [106]:
excel = pd.ExcelFile("./Course Syllabus.xlsx")

In [109]:
excel.sheet_names

['Basic Python',
 'Advanced Python',
 'Datascience with Python',
 'Machine Learning',
 'Deep Learning']

In [110]:
excelSheet = pd.read_excel(excel,sheet_name="Machine Learning")

In [121]:
excelSheet.head(7)

                                       Syllabus  Duration
0            1.Introduction to Machine learning   60 mins
1           1.a  Introduction to Data Operation  150 mins
2                              Basic Operations       NaN
3                            Moving Data Around       NaN
4                             Computing on Data       NaN
5                                 Plotting Data       NaN
6  Control Statements: for, while, if statement       NaN

In [115]:
#yml file

import yaml

In [113]:
ymlData = yaml.load(open("./config_sample.yml"))

In [114]:
ymlData

{'language': 'en',
 'pipeline': 'spacy_sklearn',
 'data': [True, 'yep', 'bye', 'goodbye', False]}

In [116]:
#json file 
import json

In [117]:
jsonData = json.load(open("./test.json"))

In [119]:
jsonData['type']

'TASK'

In [120]:
jsonData

{'domainId': 'DOMAIN-100',
 'question': 'I want to book appointment',
 'language': 'EN_US',
 'type': 'TASK'}

In [124]:
csvData[["fruit","vegetable"]]

    fruit vegetable
a   apple     onion
b   mango    potato
c  orange     beans

In [125]:
csvData["fruit"]

a     apple
b     mango
c    orange
Name: fruit, dtype: object

In [126]:
data = dict()

In [127]:
data["State"] = ["TamilNadu","Andhra Pradesh","Karnataka","Kerala"]

In [128]:
data["Language"] = ["Tamil","Telugu","Kannada","Malayalam"]

In [129]:
data

{'State': ['TamilNadu', 'Andhra Pradesh', 'Karnataka', 'Kerala'],
 'Language': ['Tamil', 'Telugu', 'Kannada', 'Malayalam']}

In [131]:
df=pd.DataFrame(data,index=["TN","AP","KA","KL"])

In [134]:
df.to_csv("custom.csv")

In [135]:
df.to_csv("custom.tsv",sep="\t")

In [136]:
#to convert list into matrix
import numpy as np

In [139]:
a=[2,3,6,7,8,4,6,8,9]

In [140]:
len(a)

9

In [142]:
b=np.reshape(a,[3,3])

In [143]:
b

array([[2, 3, 6],
       [7, 8, 4],
       [6, 8, 9]])

In [144]:
b.flatten()

array([2, 3, 6, 7, 8, 4, 6, 8, 9])