In [3]:
a=5
b=10
print(a+b)

15

In [4]:
a=10#int
b=True#bool
c=3.14#float
d='apple'#string

In [8]:
print(type(d))

<class 'str'>

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [12]:
print("'hello world!!!'")

'hello world!!!'

In [13]:
print(a)

10

In [18]:
#hello apple
print("hello "+d)
#hello 10
print("hello "+str(a))
print("hello",a)

hello apple
hello 10
hello 10

In [ ]:
+ - * / %
and or not
> < >= <= == !=

In [29]:
n=4
print(int(str(n)*3)+int(str(n)*2)+n)

492

In [44]:
num=int(input("Enter the numerical value :"))
if num%4==0:
    print("divisible by 4 and even")
elif num%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :15
odd

In [43]:
print(type(num))

<class 'int'>

In [45]:
opt=input("Do you want to play? y/n")
if opt=='y':
        print("yes")
else:
    print("no")

Do you want to play? y/ny
yes

In [46]:
calculate area of circle,rectangle,triangle based on the user's option.

SyntaxError: invalid syntax (<ipython-input-46-5b93975e9f44>, line 1)

In [ ]:
rock beats scissor
paper beats rock
scissor beats paper

In [51]:
opt='y'
while opt=='y':
    num=int(input("Enter the numerical value :"))
    if num==15:
        print("good bye")
        break
    elif num==25:
        print("skipping")
        continue
    if num%4==0:
        print("divisible by 4 and even")
    elif num%2==0:
        print("even")
    else:
        print("odd")
    opt=input("Do you want to play? y/n ")

Enter the numerical value :47
odd
Do you want to play? y/n y
Enter the numerical value :89
odd
Do you want to play? y/n n

In [52]:
import random as r

In [56]:
comp=r.randint(0,50)
comp

30

In [61]:
#string function
name =  " elephant "

In [16]:
name[2]="a"

TypeError: 'str' object does not support item assignment

In [17]:
name.capitalize()

'Elephant'

In [18]:
name.casefold()

'elephant'

In [64]:
name.swapcase()
name.count('e')
name.endswith('.pdf')
name.startswith("els")
name.index('e')
name.isalnum()
name.lower()
name.upper()
name.rstrip()
name.lstrip()
name.strip()

'elephant'

In [52]:
a="apple is a fruit"

In [49]:
a.isalnum()
a.isdecimal()
a.isdigit()
a.isspace()

True

In [57]:
d=a.split()

In [60]:
' '.join(d)

'apple is a fruit'

In [68]:
name[::-1]

' tnahpele '

1. check for palindrome
2. "Elephant is an animal ." -> ". animal an is Elephant"

In [72]:
d="Elephant is an animal ."
' '.join(d.split()[::-1])

'. animal an is Elephant'

In [73]:
#list
#tuple
#for loop
#dictionary
l=[]
L=[1,2,3,4,'a','apple','b','ball','c','cat']

In [80]:
len(L)
L[2:9:2]
L.index('ball')
L[7]='bat'

In [83]:
del L[9]

In [85]:
L[::-1]

['c', 'bat', 'b', 'apple', 'a', 4, 3, 2, 1]

In [86]:
L

[1, 2, 3, 4, 'a', 'apple', 'b', 'bat', 'c']

In [99]:
L.append("cat")

In [90]:
L.index('a')
L.insert(4,5)

In [101]:
L.pop()

'cat'

In [92]:
l.append("apple")

In [102]:
L.remove(5)

In [105]:
L.count(2)

1

In [106]:
L.copy()

[1, 2, 3, 4, 'a', 'apple', 'b', 'bat', 'c', 'cat']

In [108]:
l.clear()

In [109]:
l

[]

In [114]:
L.reverse()

In [113]:
L.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [121]:
L.extend(['d','dog'])

In [119]:
L.pop()

'd'

In [117]:
L+['d','dog']

[1, 2, 3, 4, 'a', 'apple', 'b', 'bat', 'c', 'cat', 'd', 'dog', 'd', 'dog']

In [122]:
L

[1, 2, 3, 4, 'a', 'apple', 'b', 'bat', 'c', 'cat', 'd', 'dog']

In [123]:
#tuple
days=("Monday","Tuesday","Wednesday","Thursday","Friday")

In [125]:
days[2:6:2]

('Wednesday', 'Friday')

In [128]:
#days[0]="Sunday"
del days[0]

TypeError: 'tuple' object doesn't support item deletion

In [133]:
#for loop
for i in range(21,30,2):
    print(i)

21
23
25
27
29

In [139]:
for j,k in enumerate(L):
    print(j,k,sep='\t')

0	1
1	2
2	3
3	4
4	a
5	apple
6	b
7	bat
8	c
9	cat
10	d
11	dog

1. Take two numerical lists of variable length and print the common numbers without duplicates.
2. Take a numerical list and create a new list with the numbers less than 6 from the first list.

In [140]:
a=[1,1,2,2,3,4,5,6,7,7,8,9,9]
b=[2,3,3,4,4,5,6,6,2,8]

In [141]:
for i in range(len(a)):
    print(i)
    for j in range(len(b)):
        if a[i]==b[j]:
            print(a[i])

2
2
2
2
3
3
4
4
5
6
6
8

2
2
2
2
3
3
4
4
5
6
6
8

In [144]:
c=[]
for i in a:
    if i in b and i not in c:
        c.append(i)

In [145]:
c

[2, 3, 4, 5, 6, 8]

In [148]:
list(set(a)&set(b))

[2, 3, 4, 5, 6, 8]

In [147]:
set(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [149]:
for i in a:
    if i<=6:
        d.append(i)

1
1
2
2
3
4
5
6

In [150]:
d=[i for i in a if i<=6]

In [151]:
d

[1, 1, 2, 2, 3, 4, 5, 6]

In [153]:
import random as r
comp=r.randint(100,999)
print(comp)

994

cow  -> correct number and correct position <br>
bull -> correct number and wrong position

In [154]:
import random as r
comp=r.randint(0,100)
comp

33

In [ ]:
http://w3resource.com/python-exercises/

In [ ]:
pip install numpy

In [1]:
import random

In [3]:
random.randint(0,100)

80

In [4]:
import random as r

In [5]:
r.randint(0,25)

21

In [6]:
import sklearn.linear_model.LinearRegression

In [8]:
from sklearn.linear_model import LinearRegression,LogisticRegression

In [9]:
from math import factorial,log

In [10]:
factorial(5)

120

In [11]:
from random import *

In [ ]:
choice()

In [4]:
#error
try:
    print(g=2)
    print(f)
except NameError:
    print("There is a name error")
except TypeError as e:
    print("There is a type error")
    print(e)

There is a type error
'g' is an invalid keyword argument for this function

In [25]:
g
print('hi')

NameError: name 'g' is not defined