In [2]:
a = 5
b = 5
print(a+b)

10

In [11]:
a = 20
c = 3.14
d = 'apple'
p = True 
#int,float,string,bool

In [6]:
print(type(c))

<class 'float'>

In [9]:
print("hello world!!!!")

hello world!!!!

In [12]:
print(a)

20

In [13]:
print("hello "+d)

hello apple

In [18]:
print("hello "+d)

hello apple

In [17]:
print("hello "+str(a))

hello 20

In [24]:
print("hello",'\n',a)

hello
 10

In [22]:
print("hello")
print(a)

hello
10

In [32]:
n = "3"
output = int(n*3)+int(n*2)+int(n)
print(output)

369

In [43]:
num = int(input("Enter some value :"))
name = input("Enter the string value :")

Enter some value :45
Enter the string value :hi

In [44]:
type(num)

int

In [45]:
num

45

enter the value for n :6

In [26]:
type(n)

int

In [28]:
import math

In [29]:
math.pi

3.141592653589793

In [ ]:
1. Area of circle -> r -> 3.14*r*r
2. Area of rectangle
3. Area of triangle

In [32]:
n = int(input("enter the value for n :"))
if n%2==0:
    print("even")
else:
    print("odd")

enter the value for n :8
even

In [1]:
n = int(input("enter the value for n :"))
if n%4==0:
    print("divisible by 4")
elif n%2==0:
    print("even")
else:
    print("odd")

enter the value for n :5
odd

In [ ]:
option -> circle/rectangle/triangle | invalid input
r,area

In [6]:
opt='y'
while opt =="y":#True
    n = int(input("enter the value for n :"))
    if n == 15:
        print("bye....,")
        break
    elif n == 10:
        print("skipping...,")
        continue
    if n%4==0:
        print("divisible by 4")
    elif n%2==0:
        print("even")
    else:
        print("odd")
    opt = input("do you want to continue? y/n :")

enter the value for n :18
even
do you want to continue? y/n :y
enter the value for n :13
odd
do you want to continue? y/n :y
enter the value for n :10
skipping...,
enter the value for n :45
odd
do you want to continue? y/n :n

1. rock paper scissor game -> q/quit game has to be stopped

In [7]:
g = ["a","apple",2,"b","ball",3 ]

In [8]:
len(g)

6

In [9]:
g[2:]

[2, 'b', 'ball', 3]

In [13]:
g[2:6:2]

[2, 'ball']

In [14]:
g[::-1]

[3, 'ball', 'b', 2, 'apple', 'a']

In [16]:
g[3]="bat"

In [17]:
g

['a', 'apple', 2, 'bat', 'ball', 3]

In [18]:
del g[3]

In [19]:
g

['a', 'apple', 2, 'ball', 3]

In [31]:
g.append("cat")

In [32]:
g

['a', 'apple', 'dog', 'ball', 3, 'cat', 'cat']

In [24]:
g.pop()

'cat'

In [25]:
g

['a', 'apple', 2, 'ball', 3, 'cat']

In [26]:
g.insert(2,"dog")

In [27]:
g

['a', 'apple', 'dog', 2, 'ball', 3, 'cat']

In [28]:
g.remove(2)

In [29]:
g

['a', 'apple', 'dog', 'ball', 3, 'cat']

In [30]:
g.index('dog')

2

In [33]:
 g.count('cat')

2

In [36]:
g.reverse()

In [37]:
g

['a', 'apple', 'dog', 'ball', 3, 'cat', 'cat']

In [38]:
g.clear()

In [40]:
g=['a', 'apple', 'dog', 'ball', 3, 'cat', 'cat']

In [43]:
l=g.copy()

In [44]:
l

['a', 'apple', 'dog', 'ball', 3, 'cat', 'cat']

In [45]:
g

['a', 'apple', 'dog', 'ball', 3, 'cat', 'cat']

In [47]:
#tuple
t =('a', 'apple', 'dog', 'ball', 3, 'cat', 'cat')

In [52]:
t[2:6]

('dog', 'ball', 3, 'cat')

In [53]:
#dictionary
d = {'a':'apple','b':'ball',3:'cat','d':5}

In [56]:
d[3]

'cat'

In [57]:
d.keys()

dict_keys(['a', 'b', 3, 'd'])

In [58]:
d.values()

dict_values(['apple', 'ball', 'cat', 5])

In [59]:
d["c"]="cow"

In [61]:
d["a"]="mango"

In [62]:
d

{'a': 'mango', 'b': 'ball', 3: 'cat', 'd': 5, 'c': 'cow'}

In [63]:
d.items()

dict_items([('a', 'mango'), ('b', 'ball'), (3, 'cat'), ('d', 5), ('c', 'cow')])

In [64]:
g

['a', 'apple', 'dog', 'ball', 3, 'cat', 'cat']

In [65]:
t

('a', 'apple', 'dog', 'ball', 3, 'cat', 'cat')

In [66]:
d

{'a': 'mango', 'b': 'ball', 3: 'cat', 'd': 5, 'c': 'cow'}

In [69]:
for i in range(5,15):
    print(i)

5
6
7
8
9
10
11
12
13
14

In [76]:
for i in g[2:5]:
    print(i)

dog
ball
3

In [78]:
for j in t:
    print(j)

a
apple
dog
ball
3
cat
cat

In [82]:
for k,l in d.items():
    print(k,l)

a mango
b ball
3 cat
d 5
c cow

1. numeric list of length 15 -> create a new list with even numbers in the first list.
2. take two different list of different length,print common elements in the lists without duplicates

In [83]:
a = [2,3,4,5,7,3,4]
b = [2,1,2,4,5]

In [85]:
c= []
for i in a:
    if i in b:
        if i not in c:
            c.append(i)

In [86]:
c

[2, 4, 5]

In [1]:
#library
#error -handling
#functions
#string

In [2]:
import math

In [3]:
math.factorial(5)

120

In [4]:
import math as m

In [5]:
m.factorial(5)

120

In [6]:
from math import factorial,sin,cos

In [7]:
factorial(5)

120

In [8]:
from math import *

In [9]:
tan(0)

0.0

In [10]:
import random as r

In [14]:
r.randint(10,20)

20

In [22]:
j=['a','b','c']
r.choice(j)

'a'

In [23]:
name="apple"

In [26]:
r.sample(name,2)

['e', 'p']

In [31]:
try:
    a=8
    print(a+b)
except NameError:
    print("There is an error!!!")
    b=10
finally:
    print(a+b)

18
18

In [39]:
name="elephant"

In [33]:
name[2:5]

'eph'

In [34]:
name[::-1]

'tnahpele'

In [35]:
name.capitalize()

'Elephant'

In [40]:
name.casefold()

'elephant'

In [41]:
name.count('e')

2

In [42]:
name.encode('utf8')

b'elephant'

In [45]:
name.endswith("nt")

True

In [46]:
name.find("ele")

0

In [48]:
name.index("e")

0

In [49]:
name.isalnum()

True

In [50]:
name.isalpha()

True

In [51]:
name.isdecimal()

False

In [57]:
n='5'
n.isdigit()

True

In [58]:
n.isdecimal()

True

In [59]:
name.islower()

True

In [60]:
name.isupper()

False

In [61]:
name.upper()

'ELEPHANT'

In [62]:
name.swapcase()

'ELEPHANT'

In [68]:
na =" apple "

In [69]:
na.isspace()

False

In [70]:
na.lstrip()

'apple '

In [71]:
na.rstrip()

' apple'

In [72]:
na.strip()

'apple'

In [74]:
name.startswith("ela")

False

In [75]:
name = "elephant is an animal"

In [78]:
g = name.split("an")

In [79]:
g

['eleph', 't is ', ' ', 'imal']

In [80]:
'an'.join(g)

'elephant is an animal'

Elephant is an animal . -> . animal an is Elephant
password generator -> n -> A-Z,a-z,0-9,all special characters

In [83]:
n = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*()"

In [90]:
''.join(r.sample(n,5))

'F*8jG'

In [91]:
s= "Elephant is an animal ."

In [92]:
s.split()

['Elephant', 'is', 'an', 'animal', '.']

In [103]:
def add(a,b=10):
    return(a+b,a*b)

In [107]:
a=int(input("a :"))
b=int(input("b :"))
s,m=add(a,b)

a :10
b :30

In [108]:
s

40

In [109]:
m

300

user input -> a,b -> funtion pass -> all the prime numbes between these number