In [3]:
a = 6
b = 10
print(a+b)

16

### Github link

https://github.com/sharmasaravanan/Machine_learning

### data types

In [19]:
i = 10 #int
f = 3.14 #float
b = True #bool
s = "apple"#string

### types

In [20]:
print(type(i))
print(type(f))
print(type(b))
print(type(s))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [29]:
print(s)
print(i)
print("Hello world!!")

apple
10
Hello world!!

In [30]:
print(1200)

1200

### output

objectives:-
     1. To print "hello apple"
     2. To print "hello 10"

In [43]:
#method 1
print("hello "+s)
print("hello "+str(i)) #type casting 
print("-------"*5) #ignore
#method 2
print("hello",s)
print("hello",i)
print("-------"*5) #ignore
#method 3
print("hello %s"%s) #s => string,d => decimal, f => float
print("hello %d"%i)
print("-------"*5) #ignore
#method 4
print("hello {}".format(s))
print("hello {}".format(i))

hello apple
hello 10
-----------------------------------
hello apple
hello 10
-----------------------------------
hello apple
hello 10
-----------------------------------
hello apple
hello 10

In [49]:
#significance of all the methods
# i bought 2kg of apple for 135 and also bought 3kg of orange for 100.
fruit1 ='apple'
fruit2 ='orange'
cost1 = 135
cost2 = 100
w1 = 2
w2 = 3
print("method-1:")
print("\n\ti bought "+str(w1)+"kg of "+fruit1+" for "+str(cost1)+" and also bought "+str(w2)+"kg of "+fruit2+" for "+str(cost2)+".")
print("method-2:")
print("\n\ti bought",w1,"kg of",fruit1," for",cost1," and also bought",w2,"kg of",fruit2," for",cost2,".")
print("method-3:")
print("\n\ti bought %dkg of %s for %d and also bought %dkg of %s for %d."%(w1,fruit1,cost1,w2,fruit2,cost2))
print("method-4:")
print("\n\ti bought {}kg of {} for {} and also bought {}kg of {} for {}".format(w1,fruit1,cost1,w2,fruit2,cost2))

method-1:

	i bought 2kg of apple for 135 and also bought 3kg of orange for 100.
method-2:

	i bought 2 kg of apple  for 135  and also bought 3 kg of orange  for 100 .
method-3:

	i bought 2kg of apple for 135 and also bought 3kg of orange for 100.
method-4:

	i bought 2kg of apple for 135 and also bought 3kg of orange for 100

### operator overloading

In [44]:
10 + 15 # int (+) int -> arithmetic operation
2 * 5 # int (*) int

10

In [46]:
'hi ' + 'sharma' # string (+) string -> string concatenation
"apple " * 3 # string (*) string

'apple apple apple '

In [50]:
print("hi {1} welcome to {0}".format("python","hello"))

hi hello welcome to python

### task-1

input:- assign a value to a variable and follow the example

example:-

input:- n = 5

output:- 615

operation:- 555+55+5

Solution:-

1) n = '4'
    <br>ans = int(n*3)+int(n*2)+int(n)
    <br>print(ans)

2) n = 3
    <br>ans = int(str(n)*3)+int(str(n)*2)+n
    <br>print(ans)

In [ ]:
# This is an example snippet!
# To create your own, add a new snippet block to the
# snippets.json file in your jupyter nbextensions directory:
# /nbextensions/snippets/snippets.json
import this

### operators
    ### arithmetic operation
+, -, *, /, %

    ### logical operation
and, or , not

    ### conditional operation
<, >, <=, >=, ==, !=

    ### misc operation
is, in, not in , not is

### input

In [11]:
num = int(input("Enter the numerical value: "))
name = input("Enter your name :")

Enter the numerical value: 13
Enter your name :apple

In [12]:
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>

### weekly task -1
calculate the area of circle, rectangle and triangle by getting appropriate input from the user. 
Display the output in the following format,

"The area of circle with radius 5 cm is 78.5 sq.cm