In [1]:
a = 10
b = 3.14
c = "apple"
d = True

In [4]:
type(c)

str

In [5]:
print(c)

apple

In [8]:
num =  int(input("Enter the value for num :"))
if num%4==0:
    print("divisible by 4")
elif num%2==0:
    print("even")
else:
    print("odd")

Enter the value for num :12
divisible by 4

In [13]:
opt="y"
while opt=="y":
    num =  int(input("Enter the value for num :"))
    if num==15:
        break
    elif num==25:
        continue
    if num%4==0:
        print("divisible by 4")
    elif num%2==0:
        print("even")
    else:
        print("odd")
    opt = input("Do you want to continue? y/n")

Enter the value for num :45
odd
Do you want to continue? y/ny
Enter the value for num :32
divisible by 4
Do you want to continue? y/nn

In [14]:
import random as r

 #pip install numpy

97

In [16]:
r.randint(0,99)

27

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [17]:
import random

In [18]:
from random import randint,sample,choice

In [37]:
sample(c,2)

['e', 'l']

In [27]:
opt = ["rock","paper","scissor"]

In [40]:
choice(c)

'a'

In [41]:
from math import *

In [42]:
sin(90)

0.8939966636005579

In [43]:
factorial(5)

120

In [50]:
n = int(input("Enter the n :"))
s = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789~!@#$%^&*()_-?"
''.join(sample(s,n))

Enter the n :5

'z-j_d'

In [64]:
c[1:7]

'bcdefg'

In [70]:
c[::-1]

'hgfedcba'

In [86]:
c="abcdefghf"

In [73]:
c.count('f')

2

In [74]:
c.capitalize()

'Abcdefghf'

In [75]:
c.index('a')

0

In [76]:
c[0]

'a'

In [77]:
c.lower()

'abcdefghf'

In [78]:
c.upper()

'ABCDEFGHF'

In [79]:
c.swapcase()

'ABCDEFGHF'

In [81]:
c.startswith("abh")

False

In [83]:
c.endswith("h")

False

In [93]:
c='5'

In [85]:
c.isspace()

True

In [131]:
'''
c.isalnum()
c.isalpha()
c.isdecimal()
c.isdigit()
c.isupper()
'''

'\nc.isalnum()\nc.isalpha()\nc.isdecimal()\nc.isdigit()\nc.isupper()\n'

In [94]:
c.isdigit()

True

In [95]:
c=8
c.isdigit()

AttributeError: 'int' object has no attribute 'isdigit'

In [106]:
c=" apple  is"

In [107]:
c.rstrip()

' apple  is'

In [108]:
c.lstrip()

'apple  is'

In [109]:
c.strip()

'apple  is'

In [112]:
c.replace(' is','is')

' apple is'

In [127]:
c="elephant is an animal"

In [128]:
ss = c.split('an')

In [129]:
ss

['eleph', 't is ', ' ', 'imal']

In [130]:
'an'.join(ss)

'elephant is an animal'

In [ ]:
eleph,t is , ,imal

Elephant is an animal . -> . animal an is Elephant

In [1]:
a=5
if a!=5:
import math as m, numpy as np

IndentationError: expected an indented block (<ipython-input-1-35bebe8af0c0>, line 3)

In [2]:
import math as m

In [1]:
l=[]

In [2]:
print(l)

[]

In [3]:
L=[1,2,3,4,'a','b','c','apple','ball','cat']

In [4]:
len(L)

10

In [6]:
L[2:8:3]

[3, 'b']

In [8]:
L[::-1]

['cat', 'ball', 'apple', 'c', 'b', 'a', 4, 3, 2, 1]

In [10]:
L[4]="mango"

In [12]:
L.index('b')

5

In [14]:
del L[5]

In [15]:
L

[1, 2, 3, 4, 'mango', 'c', 'apple', 'ball', 'cat']

In [16]:
L.append('dog')

In [17]:
L

[1, 2, 3, 4, 'mango', 'c', 'apple', 'ball', 'cat', 'dog']

In [19]:
l.append("apple")

In [20]:
l

['apple']

In [21]:
L.insert(5,'bat')

In [22]:
L

[1, 2, 3, 4, 'mango', 'bat', 'c', 'apple', 'ball', 'cat', 'dog']

In [23]:
L.pop()

'dog'

In [24]:
L

[1, 2, 3, 4, 'mango', 'bat', 'c', 'apple', 'ball', 'cat']

In [25]:
L.remove(4)

In [26]:
L

[1, 2, 3, 'mango', 'bat', 'c', 'apple', 'ball', 'cat']

In [28]:
l.clear()

In [29]:
l

[]

In [45]:
L.extend(5)

TypeError: 'int' object is not iterable

In [40]:
L.pop()

'd'

In [44]:
L

[1,
 2,
 3,
 'mango',
 'bat',
 'c',
 'apple',
 'ball',
 'cat',
 'd',
 'o',
 'g',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'a',
 'n',
 'i',
 'm',
 'a',
 'l',
 'dog',
 'is',
 'an',
 'animal']

In [48]:
L.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [47]:
L

['animal',
 'an',
 'is',
 'dog',
 'l',
 'a',
 'm',
 'i',
 'n',
 'a',
 ' ',
 'n',
 'a',
 ' ',
 's',
 'i',
 ' ',
 'g',
 'o',
 'd',
 'cat',
 'ball',
 'apple',
 'c',
 'bat',
 'mango',
 3,
 2,
 1]

In [49]:
t=(1, 2, 3, 'mango', 'bat', 'c', 'apple', 'ball', 'cat')

In [51]:
t[2]=5

TypeError: 'tuple' object does not support item assignment

In [54]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [56]:
for i in range(len(L)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [57]:
l=[1, 2, 3, 'mango', 'bat', 'c', 'apple', 'ball', 'cat']

In [61]:
for i in [4,5,6,9]:
    print(i)

4
5
6
9

In [77]:
a=[3,4,5,6,7,8,9,3,4,1,2,4,20]
b=[1,2,11,12,4,5,6,1]
for i in a:
    for j in b:
        if i==j:
            print(i)

4
5
6
4
1
1
2
4

In [69]:
c=[]
for i in a:
    if i in b:
        if i not in c:
            c.append(i)

In [70]:
c

[4, 5, 6, 1, 2]

In [72]:
list(set(a)&set(b))

[1, 2, 4, 5, 6]

In [73]:
for i in a:
    if 5>=i<=15:
        print(i)

3
4
5
3
4
1
2
4

In [80]:
d=set([i for i in a if 5<=i<=15])

In [81]:
set(d)

{5, 6, 7, 8, 9}

In [82]:
g={'a':'apple','b':'ball',2:'cat','d':4}

In [84]:
g['e']="elephant"

In [90]:
g={'a':['apple',1,2,'ball'], 'b': 'ball', 2: 'cat', 'd': 4, 'e': 'elephant'}

In [91]:
g

{'a': ['apple', 1, 2, 'ball'], 'b': 'ball', 2: 'cat', 'd': 4, 'e': 'elephant'}

In [92]:
g['a']

['apple', 1, 2, 'ball']

In [93]:
del g['e']

In [94]:
g

{'a': ['apple', 1, 2, 'ball'], 'b': 'ball', 2: 'cat', 'd': 4}

In [95]:
g.keys()

dict_keys(['a', 'b', 2, 'd'])

In [96]:
g.values()

dict_values([['apple', 1, 2, 'ball'], 'ball', 'cat', 4])

In [97]:
g.items()

dict_items([('a', ['apple', 1, 2, 'ball']), ('b', 'ball'), (2, 'cat'), ('d', 4)])

In [100]:
for i,j in g.items():
    print(i)
    print(j)
    print("----------"*2)

a
['apple', 1, 2, 'ball']
--------------------
b
ball
--------------------
2
cat
--------------------
d
4
--------------------

In [115]:
try:
    print(f)
except:
    
finally:
    f=10
    print(f)

10
10

In [104]:
ll = []
import random as r
j=r.randint(1000,9999)

In [106]:
type(j)

int

In [109]:
a=str(j)

In [111]:
ll.extend(a)

In [112]:
ll

['2', '4', '4', '7']

In [118]:
fl = open("lime_ds.txt","a")
fl.write("\ni am fine")
fl.write("\nhow do you do?")
fl.close()

In [127]:
fll = open("lime_ds.txt","r")

In [120]:
fll.read()

'Hi,hello\nhow are you?\ni am fine\nhow do you do?'

In [126]:
fll.readline()

''

In [128]:
fll.readlines()

['Hi,hello\n', 'how are you?\n', 'i am fine\n', 'how do you do?']

In [129]:
import csv

In [ ]:
xlrd,xlwt,json,sqlite3,pdf.miner,docx

In [ ]:
import pandas