In [1]:
print("hello world")

hello world

In [26]:
a=10
b=10
print(a+b)

20

In [2]:
a=10#int
pi=3.1475#float
name="apple"#string
p=True#bool

In [6]:
print(a)

10

In [10]:
print(type(p))

<class 'bool'>

In [11]:
A=20

In [12]:
a

10

In [13]:
A

20

In [17]:
print(pi)

3.14

In [20]:
print("HI hello...")

HI hello...

In [28]:
#hi hello apple 
print("Hi hello "+name)
#hi hello 10
print("hi hello",a)
print("hi hello "+str(a))

Hi hello apple
hi hello 10
hi hello 10

In [29]:
type(str(a))

str

In [31]:
'10'

'10'

In [32]:
n=5

In [37]:
int(str(n)+str(n)+str(n))+int(str(n)*2)+n

615

In [43]:
n=int(input("Enter the value for n :"))

Enter the value for n :hi

ValueError: invalid literal for int() with base 10: 'hi'

In [42]:
type(n)

int

In [3]:
print("The integer value is %d,the float value is %0.2f and the string is %s"%(a,pi,name))

The integer value is 10,the float value is 3.15 and the string is apple

In [ ]:
+ - / % *
and or not 
> < >= <= ==  !=

In [5]:
n=int(input("Enter the numerical value: "))
if n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the numerical value: 5
The number is odd

In [8]:
n=int(input("Enter the numerical value: "))
if n%4==0:
    print("The number is divisible by 4 and also even")
elif n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the numerical value: 5
The number is odd

In [15]:
cnt=0
#i=1
while 1:
    n=input("Enter the numerical value: ")
    #print(i,"-time")
    if n=="q" or n=="quit":
        break
    n=int(n)
    if n==15:
        print(cnt)
        print("Good bye...")
        break
    elif n==25:
        print("Skipping..")
        continue
    elif n==20:
        cnt+=1
        pass
    if n%4==0:
        print("The number is divisible by 4 and also even")
    elif n%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    #i+=1

Enter the numerical value: 78
1 -time
The number is even
Enter the numerical value: 25
2 -time
Skipping..
Enter the numerical value: 88
2 -time
The number is divisible by 4 and also even
Enter the numerical value: 66
3 -time
The number is even

In [17]:
cnt=0
opt="y"
while opt=='y':
    n=int(input("Enter the numerical value: "))
    if n==15:
        print(cnt)
        print("Good bye...")
        break
    elif n==25:
        print("Skipping..")
        continue
    elif n==20:
        cnt+=1
        pass
    if n%4==0:
        print("The number is divisible by 4 and also even")
    elif n%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    opt=input("Do you want to continue? y/n :")

Enter the numerical value: 95
The number is odd
Do you want to continue? y/n :y
Enter the numerical value: 63
The number is odd
Do you want to continue? y/n :n

In [19]:
#https://github.com/sharmasaravanan/Machine_learning

## Rock paper scissor

rock beats scissor

scissor beats paper

paper beats rock

In [26]:
#string
name="elephant"

In [22]:
name[2:]

'ple'

In [24]:
name[2:4]

'pl'

In [25]:
name[:4]

'Appl'

In [27]:
name[1:6:2]

'lpa'

In [28]:
name[1:6]

'lepha'

In [29]:
name[::-1]

'tnahpele'

In [30]:
name

'elephant'

In [35]:
name.count('e')

2

In [32]:
name.capitalize()

'Elephant'

In [33]:
name.upper()

'ELEPHANT'

In [34]:
name.lower()

'elephant'

In [37]:
"Hi".lower()

'hi'

In [40]:
name[-5:-1]

'phan'

In [43]:
name.endswith("nt")

True

In [44]:
name.startswith("El")

False

In [45]:
name.replace('e','x')

'xlxphant'

In [46]:
name.index('e')

0

In [47]:
name.isalnum()

True

In [48]:
name.isdecimal()

False

In [50]:
n='7'

In [51]:
n.isdigit()

True

In [52]:
n=" "

In [53]:
n.isspace()

True

In [55]:
name.islower()

True

In [56]:
name.isupper()

False

In [57]:
name=" apple "

In [58]:
name

' apple '

In [59]:
name.lstrip()

'apple '

In [60]:
name.rstrip()

' apple'

In [61]:
name.strip()

'apple'

In [62]:
n=123454

In [63]:
type(n)

int

In [64]:
str(n).isdigit()

True

In [65]:
name="apple is a fruit"

In [66]:
len(name)

16

In [72]:
d=name.split()

In [73]:
d

['apple', 'is', 'a', 'fruit']

In [75]:
"".join(d)

'appleisafruit'

In [ ]:
ROCK or rock or Rock or RoCk

Elephant is an animal . -> . animal an is Elephant

In [5]:
s="ROCK"

In [6]:
s.lower()

'rock'

In [7]:
#list
L=[]
l=[1,2,4,5,'a','b','c','apple','ball','cat','dog']

In [10]:
len(l)

11

In [11]:
l[2:]

[4, 5, 'a', 'b', 'c', 'apple', 'ball', 'cat', 'dog']

In [12]:
l[2:9]

[4, 5, 'a', 'b', 'c', 'apple', 'ball']

In [13]:
l[2:9:3]

[4, 'b', 'ball']

In [16]:
ll=l[::-1]

In [15]:
l

[1, 2, 4, 5, 'a', 'b', 'c', 'apple', 'ball', 'cat', 'dog']

In [17]:
ll

['dog', 'cat', 'ball', 'apple', 'c', 'b', 'a', 5, 4, 2, 1]

In [21]:
l.index(5)

3

In [19]:
l[5]="bat"

In [20]:
l

[1, 2, 4, 5, 'a', 'bat', 'c', 'apple', 'ball', 'cat', 'dog']

In [22]:
l.index('c')

6

In [23]:
del l[6]

In [24]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'ball', 'cat', 'dog']

In [25]:
len(l)

10

In [26]:
l.append("bat")

In [27]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'ball', 'cat', 'dog', 'bat']

In [29]:
L.append("mango")

In [30]:
L

['mango']

In [31]:
l.insert(7,'mango')

In [32]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'bat']

In [33]:
l.pop()

'bat'

In [34]:
l

[1, 2, 4, 5, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog']

In [35]:
l.remove(5)

In [39]:
l.append('a')

In [40]:
l.count('a')

2

In [41]:
l

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [42]:
f=l.copy()

In [43]:
f

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [44]:
g=l

In [45]:
g

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [46]:
l

[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [48]:
L.clear()

In [49]:
L

[]

In [50]:
l.reverse()

In [52]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [53]:
l.extend(['papaya','pine apple'])

In [55]:
l.extend("elephant")

In [56]:
l

['a',
 'a',
 'apple',
 'ball',
 'bat',
 'cat',
 'dog',
 'mango',
 4,
 2,
 1,
 'papaya',
 'pine apple',
 'e',
 'l',
 'e',
 'p',
 'h',
 'a',
 'n',
 't']

In [57]:
#tuple
t=(1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a')

In [58]:
t

(1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a')

In [60]:
t[5:]

('apple', 'mango', 'ball', 'cat', 'dog', 'a')

In [61]:
t[5]="a"

TypeError: 'tuple' object does not support item assignment

In [62]:
del t[5]

TypeError: 'tuple' object doesn't support item deletion

In [66]:
#for loop
for i in range(21,30,2):
    print(i)

21
23
25
27
29

In [67]:
L=[1, 2, 4, 'a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog', 'a']

In [73]:
for j in L[::-1]:
    print(j)

a
dog
cat
ball
mango
apple
bat
a
4
2
1

In [72]:
for j in L[9::2]:
    print(j)

dog

In [74]:
a=[1,2,5,6,8,7,5,7,3,2,1,2,6]
b=[1,1,2,3,4,9,11,2]

In [80]:
c

[1, 2, 3]

In [84]:
d

[1, 2, 3]

In [85]:
set(a)

{1, 2, 3, 5, 6, 7, 8}

In [86]:
a

[1, 2, 5, 6, 8, 7, 5, 7, 3, 2, 1, 2, 6]

In [87]:
set(b)

{1, 2, 3, 4, 9, 11}

In [88]:
b

[1, 1, 2, 3, 4, 9, 11, 2]

In [90]:
list(set(a)&set(b))

[1, 2, 3]

In [91]:
d=[]
for i in a:
    if i in b and i not in d:
            d.append(i)
#logic-2
c=[]
for i in a:
    for j in b:
        if i==j and i not in c:
                c.append(i)
#logic-3
list(set(a)&set(b))

[1, 2, 3]

In [92]:
c

[1, 2, 3]

In [93]:
d

[1, 2, 3]

In [95]:
L=['a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog']

In [96]:
e=[]
for i in L:
    if len(i)>3:
        e.append(i)

In [97]:
e

['apple', 'mango', 'ball']

In [98]:
e1=[i for i in L if len(i)>3]

In [99]:
e1

['apple', 'mango', 'ball']

In [102]:
#dictionary
#dic={}
dic=dict()

In [103]:
type(dic)

dict

In [108]:
dic={'a':'apple','b':'ball',2:'cat','d':4,'a':"mango"}

In [105]:
dic.keys()

dict_keys(['a', 'b', 2, 'd'])

In [106]:
dic.values()

dict_values(['apple', 'ball', 'cat', 4])

In [110]:
dic['a']

'mango'

In [111]:
dic.items()

dict_items([('a', 'mango'), ('b', 'ball'), (2, 'cat'), ('d', 4)])

In [112]:
dic['e']="elephant"

In [113]:
dic

{'a': 'mango', 'b': 'ball', 2: 'cat', 'd': 4, 'e': 'elephant'}

In [118]:
for i,j in dic.items():
    print(i,j)
    #print(j)
    print("--------")

a mango
--------
b ball
--------
2 cat
--------
d 4
--------
e elephant
--------

In [122]:
for i,j in enumerate(L[4:]):
    print(i,j)

0 ball
1 cat
2 dog

In [119]:
L

['a', 'bat', 'apple', 'mango', 'ball', 'cat', 'dog']

In [124]:
del dic['e']

In [125]:
dic

{'a': 'mango', 'b': 'ball', 2: 'cat', 'd': 4}