In [1]:
#datatypes
#int,float,str,bool
a=10
pi=3.14
b=True
name="apple"

In [7]:
print(b)
print(type(b))

True
<class 'bool'>

In [10]:
type(str(a))

str

In [13]:
print("hello world")

hello world

In [14]:
n=5
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

615

In [8]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(a))
print("----------------------")

#method 2
print("hello",name)
print("hello",a)
print("----------------------")

#method 3
print("hello %s"%name)
print("hello %d"%a)
print("----------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
----------------------
hello apple
hello 10
----------------------
hello apple
hello 10
----------------------
hello apple
hello 10

In [ ]:
+ - * / %
and or not 
> < >= <= == !=

In [12]:
#if-else
n=int(input("Enter the numerical value :"))
if n%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

In [15]:
#if-elseif-else
n=int(input("Enter the numerical value :"))
if n%4==0:
    print("divisible by 4 and also even")
elif n%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

In [30]:
m="mango"
if m=="apple" or m=="orange":
    print('yes')

In [26]:
if "orange":
    print("yes")

yes

In [29]:
if n:
    print('yes')

yes

In [ ]:
area of circle,rectangle,triangle
The area of the circle of radium 5cm is 85sq.cm

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [1]:
i=1
while i<=4:
    n=int(input("Enter the numerical value :"))
    if n==15:
        print("Goodbye...")
        break
    elif n==25:
        print("skipping....")
        continue
    if n%4==0:
        print("divisible by 4 and also even")
    elif n%2==0:
        print("even")
    else:
        print("odd")
    i+=1

Enter the numerical value :20
divisible by 4 and also even
Enter the numerical value :45
odd
Enter the numerical value :89
odd
Enter the numerical value :96
divisible by 4 and also even

### Rock-Paper-Scissor

1. Rock beats scissor
2. Scissor beats paper
3. Paper beats rock

In [ ]:
#rock paper scissor game
while True:
user1=input ("User1 Enter your option:rock,paper,scissor or q to quit the game:")
user2=input("User2 Enter your option:rock,paper,scissor or q to quit the game:")
if user1=='q' or user2=='q':
print("Goodbye")
break
if user1==user2:
print("Tie")
elif user1=="rock" and user2=="paper":
print("user2 wins")
elif user1=="paper" and user2=="scissor":
print("user2 wins")
elif user1=="scissor" and user2=="rock":
print("user2 wins")
elif user1=="rock" and user2=="scissor":
print ("user1 wins")
elif user1=="paper" and user2=="rock":
print("user1 wins")
elif user1=="scissor" and user2=="paper":
print("user1 wins")
elif user1=="rock" or user1=="paper" or user1=="scissor" or user2=="rock" or user2=="paper" or user2=="scissor":
print("Enter the correct option:rock,paper,scissor")
continue

In [ ]:
while True:
    user1 = input('Say your choice Rock (R), Paper(P) or Sciccors(S):')
    user2 = input('User2 say your choice Rock (R), Paper(P) or Sciccors(S)::')

if user1 = 'R':
    if user2 = 'R': 
        print( 'Draw')
    elif user2 = 'S':
        print ('User1 wins')
    else 
        print ('User2 wins')
elif user1 = 'S'
    if user2 = 'R': 
        print( 'User1 wins')
    elif user2 = 'S':
        print ('Draw')
    else 
        print ('User2 wins')
else 
    if user2 = 'R': 
        print( 'User1 wins')
    elif user2 = 'S':
        print ('User2 wins')
    else 
        print ('Draw')
Quit = ('Do you want to continue(Y/N)':)
if Quit = 'Y'
    break

In [27]:
#string 
name = " elephant "

In [7]:
name[2:6:2]

'eh'

In [11]:
f=name[::-1]

In [10]:
name

'elephant'

In [30]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.count('e')
name.endswith("nT")
name.startswith("el")
name.find("p")
name.index('p')
name.islower()
name.replace("e","A")
name.swapcase()
name.rstrip()
name.lstrip()
name.strip()

'elephant'

In [31]:
na="apple is a fruit"

In [32]:
na.split()

['apple', 'is', 'a', 'fruit']

In [37]:
d=na.split()

In [42]:
name.isidentifier?

In [39]:
' '.join(d)

'apple is a fruit'

In [ ]:
1. Palindrome
2. "Apple is a fruit ." --> ". fruit a is Apple"

In [43]:
import random as r
num=r.randint(0,100)

In [48]:
num=r.randint(0,100)
num

42

In [49]:
#list

In [3]:
l=[]
L=[1,2,3,4,5,6,'a','b','c','apple','ball']

In [5]:
L[2:]

[3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'ball']

In [6]:
L.index('ball')

10

In [7]:
L[10]="bat"

In [8]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat']

In [56]:
del L[5]

In [9]:
L.append("cat")

In [10]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat', 'cat']

In [11]:
 l.append("mango")

In [12]:
l

['mango']

In [13]:
L.insert(5,"ice cream")

In [14]:
L

[1, 2, 3, 4, 5, 'ice cream', 6, 'a', 'b', 'c', 'apple', 'bat', 'cat']

In [16]:
L.pop()

'cat'

In [18]:
L.remove('ice cream')

In [19]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat']

In [21]:
l.clear()

In [22]:
l

[]

In [23]:
L.count('a')

1

In [25]:
L.reverse()

In [26]:
L

['bat', 'apple', 'c', 'b', 'a', 6, 5, 4, 3, 2, 1]

In [27]:
L.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [30]:
L

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1]

In [28]:
l1=["mango","pine apple"]

In [29]:
l1

['mango', 'pine apple']

In [31]:
L+l1

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [33]:
L.extend(l1)

In [34]:
L

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [35]:
L

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [36]:
#Tuple
t=('a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1, 'mango', 'pine apple')

In [82]:
#dictionary
#for loop
#library

In [37]:
t[4]="d"

TypeError: 'tuple' object does not support item assignment

In [38]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
t[2:7]

('b', 'bat', 'c', 5, 4)

python - intermediate level - network,GUI,threading - 15 hours
Maths - stats,linear algebra and calculus - 12-15 hours
ML -

ML Algorithms:-

1. Linear regression -> regression
2. Logistic regression -> Classification
3. SVM -> Classification
4. K-means -> clustering
5. KNN  -> clustering
6. Hierarchy clustering -> clustering
7. LDA -> topic modeling
8. TF-IDF -> topic modeling
9. Eclat -> associative learning
10. Aprior -> associative learning
11. Random forest -> Ensemble method
12. AdaBoost -> Ensemble method
13. Decision tree -> Classification
14. Naive Baye's -> Classification
15. PCA -> Dimensionality reduction

Neural Network:-

1. perceptron
2. sigmoid
3. multi layer preceptron
4. Backpropagation
4.a gradient descent
4.b stochostic gradient descent
5. Vanila neural network

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [2]:
print("hello world")

hello world

In [43]:
for i in range(21,30,2):
    #print("Hello")
    print(i)

21
23
25
27
29

In [44]:
name="apple"
for i in range(len(name)):
    print('hi')

hi
hi
hi
hi
hi

In [49]:
for i,j in enumerate(L[3:5]):
    print(i,j,sep="\t")

0	bat
1	c

take two numerical list of different length and print all the common numbers without duplicates.
take a numerical list and create a new list with the numbers which are less than 9

In [51]:
a = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,]
b = [3,3,4,4,4,5,5,5,5,6,6,6,6,6,7,7,7,7,7]

In [52]:
c=[]
for i in a:
    for j in b:
        if i==j:
            if i not in c:
                c.append(i)
print(c)

[3, 4, 5]

In [53]:
c=[]
for i in a:
    if i in b and i not in c:
        c.append(i)
print(c)

[3, 4, 5]

In [55]:
list(set(a)&set(b))

[3, 4, 5]

In [ ]:
for i in a:
    if i <10:
        c.append(i)

In [56]:
d=[i for i in a if i<5]

In [57]:
d

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [58]:
import random as r
comp=r.randint(100,999)

In [61]:
comp=r.randint(100,999)
comp

369

In [3]:
#dictionary
d = {"a":"apple",'b':'ball',2:[4,6,7,8],'c':25,'a':"mango"}

In [4]:
d

{'a': 'mango', 'b': 'ball', 2: [4, 6, 7, 8], 'c': 25}

In [8]:
d['a']="papaya"

In [9]:
d

{'a': 'papaya', 'b': 'ball', 2: [4, 6, 7, 8], 'c': 25}

In [10]:
d['d']=('Sunday',"Saturday")

In [12]:
d['d']

('Sunday', 'Saturday')

In [13]:
d.keys()

dict_keys(['a', 'b', 2, 'c', 'd'])

In [14]:
d.values()

dict_values(['papaya', 'ball', [4, 6, 7, 8], 25, ('Sunday', 'Saturday')])

In [17]:
d.update({'e':"elephant"})

In [18]:
d

{'a': 'papaya',
 'b': 'ball',
 2: [4, 6, 7, 8],
 'c': 25,
 'd': ('Sunday', 'Saturday'),
 'e': 'elephant'}

In [19]:
d.items()

dict_items([('a', 'papaya'), ('b', 'ball'), (2, [4, 6, 7, 8]), ('c', 25), ('d', ('Sunday', 'Saturday')), ('e', 'elephant')])

In [21]:
d.get('e')

'elephant'

In [22]:
d.get('ball')

In [29]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [26]:
d

{'a': 'papaya',
 'b': 'ball',
 2: [4, 6, 7, 8],
 'd': ('Sunday', 'Saturday'),
 'e': 'elephant'}

In [30]:
for k,v in d.items():
    print(k,v,sep='\t')

a	papaya
b	ball
2	[4, 6, 7, 8]
d	('Sunday', 'Saturday')
e	elephant

In [32]:
for k in d.keys():
    print(k)
for v in d.values():
    print(v)

a
b
2
d
e
papaya
ball
[4, 6, 7, 8]
('Sunday', 'Saturday')
elephant

create a Birthday database in which user can add birth date of a person and also he can search for a date of a person.

functions:-
   1. add -> two inputs -> name and date -> "The  date of birth of john has been added to the DB."
   2. display -> one input -> name -> "The date of birth of John is 01-01-2001"

In [ ]:
d={"dhanvin":"09-01-2010","dhanvarsini":"11-01-2012","nisha":"20-09-1985","Prakash":"21-09-1979"}

uinput=int(input("What do you want to do? 1.Add 2.Search"))
if uinput==1:
    uname=input("Enter the name:")
    udob=input("Enter the date of birth:")
    d.update({uname:udob})
    print("The name",uname," and date of birth",udob,"is added successfully")
elif uinput==2:
    sname=input("Enter the name to search:")
    sdob=d.get(sname)
    if sdob==" ":
        print ("No such person")
    print("The date of birth of ",sname," is ",sdob)
else :
    print("Invalid input")

In [36]:
if 2 in d:
    print('yes')

yes

In [37]:
for k,v in d.items():
    if v=="ball":
        print(k)

b

In [38]:
d

{'a': 'papaya',
 'b': 'ball',
 2: [4, 6, 7, 8],
 'd': ('Sunday', 'Saturday'),
 'e': 'elephant'}

#package installation 
pip install <name>

In [39]:
import math

In [40]:
math.factorial(5)

120

In [41]:
import random as r

In [43]:
r.randint(0,10)

10

In [44]:
from math import sin,cos,factorial

In [45]:
factorial(5)

120

In [47]:
from sklearn.linear_model import LinearRegression,LogisticRegression

In [48]:
from random import *

In [52]:
sample("apple",2)

['l', 'e']

In [54]:
from sklearn.linear_model import *

In [ ]:
cow-bull
hangman

<h3> Rock-Paper-Scissor </h3>
1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [ ]:
#function
#file handling
#error handling
#oops

#tic-tac-toe