In [1]:
#datatypes
#int,float,str,bool
a=10
pi=3.14
b=True
name="apple"

In [7]:
print(b)
print(type(b))

True
<class 'bool'>

In [10]:
type(str(a))

str

In [13]:
print("hello world")

hello world

In [14]:
n=5
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

615

In [8]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(a))
print("----------------------")

#method 2
print("hello",name)
print("hello",a)
print("----------------------")

#method 3
print("hello %s"%name)
print("hello %d"%a)
print("----------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
----------------------
hello apple
hello 10
----------------------
hello apple
hello 10
----------------------
hello apple
hello 10

In [ ]:
+ - * / %
and or not 
> < >= <= == !=

In [12]:
#if-else
n=int(input("Enter the numerical value :"))
if n%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

In [15]:
#if-elseif-else
n=int(input("Enter the numerical value :"))
if n%4==0:
    print("divisible by 4 and also even")
elif n%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

In [30]:
m="mango"
if m=="apple" or m=="orange":
    print('yes')

In [26]:
if "orange":
    print("yes")

yes

In [29]:
if n:
    print('yes')

yes

In [ ]:
area of circle,rectangle,triangle
The area of the circle of radium 5cm is 85sq.cm

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [1]:
i=1
while i<=4:
    n=int(input("Enter the numerical value :"))
    if n==15:
        print("Goodbye...")
        break
    elif n==25:
        print("skipping....")
        continue
    if n%4==0:
        print("divisible by 4 and also even")
    elif n%2==0:
        print("even")
    else:
        print("odd")
    i+=1

Enter the numerical value :20
divisible by 4 and also even
Enter the numerical value :45
odd
Enter the numerical value :89
odd
Enter the numerical value :96
divisible by 4 and also even

### Rock-Paper-Scissor

1. Rock beats scissor
2. Scissor beats paper
3. Paper beats rock

In [ ]:
#rock paper scissor game
while True:
user1=input ("User1 Enter your option:rock,paper,scissor or q to quit the game:")
user2=input("User2 Enter your option:rock,paper,scissor or q to quit the game:")
if user1=='q' or user2=='q':
print("Goodbye")
break
if user1==user2:
print("Tie")
elif user1=="rock" and user2=="paper":
print("user2 wins")
elif user1=="paper" and user2=="scissor":
print("user2 wins")
elif user1=="scissor" and user2=="rock":
print("user2 wins")
elif user1=="rock" and user2=="scissor":
print ("user1 wins")
elif user1=="paper" and user2=="rock":
print("user1 wins")
elif user1=="scissor" and user2=="paper":
print("user1 wins")
elif user1=="rock" or user1=="paper" or user1=="scissor" or user2=="rock" or user2=="paper" or user2=="scissor":
print("Enter the correct option:rock,paper,scissor")
continue

In [ ]:
while True:
    user1 = input('Say your choice Rock (R), Paper(P) or Sciccors(S):')
    user2 = input('User2 say your choice Rock (R), Paper(P) or Sciccors(S)::')

if user1 = 'R':
    if user2 = 'R': 
        print( 'Draw')
    elif user2 = 'S':
        print ('User1 wins')
    else 
        print ('User2 wins')
elif user1 = 'S'
    if user2 = 'R': 
        print( 'User1 wins')
    elif user2 = 'S':
        print ('Draw')
    else 
        print ('User2 wins')
else 
    if user2 = 'R': 
        print( 'User1 wins')
    elif user2 = 'S':
        print ('User2 wins')
    else 
        print ('Draw')
Quit = ('Do you want to continue(Y/N)':)
if Quit = 'Y'
    break

In [27]:
#string 
name = " elephant "

In [7]:
name[2:6:2]

'eh'

In [11]:
f=name[::-1]

In [10]:
name

'elephant'

In [30]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.count('e')
name.endswith("nT")
name.startswith("el")
name.find("p")
name.index('p')
name.islower()
name.replace("e","A")
name.swapcase()
name.rstrip()
name.lstrip()
name.strip()

'elephant'

In [31]:
na="apple is a fruit"

In [32]:
na.split()

['apple', 'is', 'a', 'fruit']

In [37]:
d=na.split()

In [42]:
name.isidentifier?

In [39]:
' '.join(d)

'apple is a fruit'

In [ ]:
1. Palindrome
2. "Apple is a fruit ." --> ". fruit a is Apple"

In [43]:
import random as r
num=r.randint(0,100)

In [48]:
num=r.randint(0,100)
num

42

In [49]:
#list

In [50]:
l=[]
L=[1,2,3,4,5,6,'a','b','c','apple','ball']

In [52]:
L[::-1]

['ball', 'apple', 'c', 'b', 'a', 6, 5, 4, 3, 2, 1]

In [53]:
L.index('ball')

10

In [54]:
L[10]="bat"

In [55]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat']

In [56]:
del L[5]

In [58]:
L.append("cat")

In [59]:
L

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'apple', 'bat', 'cat']

In [60]:
 l.append("mango")

In [61]:
l

['mango']

In [62]:
L.insert(5,"ice cream")

In [63]:
L

[1, 2, 3, 4, 5, 'ice cream', 'a', 'b', 'c', 'apple', 'bat', 'cat']

In [64]:
L.pop()

'cat'

In [65]:
L.remove('ice cream')

In [66]:
L

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'apple', 'bat']

In [68]:
l.clear()

In [69]:
l

[]

In [70]:
L.count('a')

1

In [71]:
L.reverse()

In [72]:
L

['bat', 'apple', 'c', 'b', 'a', 5, 4, 3, 2, 1]

In [74]:
L.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [75]:
L

['a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1]

In [76]:
l1=["mango","pine apple"]

In [77]:
l1

['mango', 'pine apple']

In [78]:
L+l1

['a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [79]:
L.extend(l1)

In [80]:
L

['a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [81]:
L

['a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [83]:
#Tuple
t=('a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1, 'mango', 'pine apple')

In [82]:
#dictionary
#for loop
#library

In [85]:
t[4]="d"

TypeError: 'tuple' object does not support item assignment

In [86]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

In [87]:
t[2:7]

('b', 'bat', 'c', 5, 4)