In [1]:
#datatypes
#int,float,str,bool
a=10
pi=3.14
b=True
name="apple"

In [7]:
print(b)
print(type(b))

True
<class 'bool'>

In [10]:
type(str(a))

str

In [13]:
print("hello world")

hello world

In [14]:
n=5
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

615

In [8]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(a))
print("----------------------")

#method 2
print("hello",name)
print("hello",a)
print("----------------------")

#method 3
print("hello %s"%name)
print("hello %d"%a)
print("----------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(a))

hello apple
hello 10
----------------------
hello apple
hello 10
----------------------
hello apple
hello 10
----------------------
hello apple
hello 10

In [ ]:
+ - * / %
and or not 
> < >= <= == !=

In [12]:
#if-else
n=int(input("Enter the numerical value :"))
if n%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

In [15]:
#if-elseif-else
n=int(input("Enter the numerical value :"))
if n%4==0:
    print("divisible by 4 and also even")
elif n%2==0:
    print("even")
else:
    print("odd")

Enter the numerical value :5
odd

In [30]:
m="mango"
if m=="apple" or m=="orange":
    print('yes')

In [26]:
if "orange":
    print("yes")

yes

In [29]:
if n:
    print('yes')

yes

In [ ]:
area of circle,rectangle,triangle
The area of the circle of radium 5cm is 85sq.cm

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [1]:
i=1
while i<=4:
    n=int(input("Enter the numerical value :"))
    if n==15:
        print("Goodbye...")
        break
    elif n==25:
        print("skipping....")
        continue
    if n%4==0:
        print("divisible by 4 and also even")
    elif n%2==0:
        print("even")
    else:
        print("odd")
    i+=1

Enter the numerical value :20
divisible by 4 and also even
Enter the numerical value :45
odd
Enter the numerical value :89
odd
Enter the numerical value :96
divisible by 4 and also even

### Rock-Paper-Scissor

1. Rock beats scissor
2. Scissor beats paper
3. Paper beats rock

In [ ]:
#rock paper scissor game
while True:
user1=input ("User1 Enter your option:rock,paper,scissor or q to quit the game:")
user2=input("User2 Enter your option:rock,paper,scissor or q to quit the game:")
if user1=='q' or user2=='q':
print("Goodbye")
break
if user1==user2:
print("Tie")
elif user1=="rock" and user2=="paper":
print("user2 wins")
elif user1=="paper" and user2=="scissor":
print("user2 wins")
elif user1=="scissor" and user2=="rock":
print("user2 wins")
elif user1=="rock" and user2=="scissor":
print ("user1 wins")
elif user1=="paper" and user2=="rock":
print("user1 wins")
elif user1=="scissor" and user2=="paper":
print("user1 wins")
elif user1=="rock" or user1=="paper" or user1=="scissor" or user2=="rock" or user2=="paper" or user2=="scissor":
print("Enter the correct option:rock,paper,scissor")
continue

In [ ]:
while True:
    user1 = input('Say your choice Rock (R), Paper(P) or Sciccors(S):')
    user2 = input('User2 say your choice Rock (R), Paper(P) or Sciccors(S)::')

if user1 = 'R':
    if user2 = 'R': 
        print( 'Draw')
    elif user2 = 'S':
        print ('User1 wins')
    else 
        print ('User2 wins')
elif user1 = 'S'
    if user2 = 'R': 
        print( 'User1 wins')
    elif user2 = 'S':
        print ('Draw')
    else 
        print ('User2 wins')
else 
    if user2 = 'R': 
        print( 'User1 wins')
    elif user2 = 'S':
        print ('User2 wins')
    else 
        print ('Draw')
Quit = ('Do you want to continue(Y/N)':)
if Quit = 'Y'
    break

In [27]:
#string 
name = " elephant "

In [7]:
name[2:6:2]

'eh'

In [11]:
f=name[::-1]

In [10]:
name

'elephant'

In [30]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.count('e')
name.endswith("nT")
name.startswith("el")
name.find("p")
name.index('p')
name.islower()
name.replace("e","A")
name.swapcase()
name.rstrip()
name.lstrip()
name.strip()

'elephant'

In [31]:
na="apple is a fruit"

In [32]:
na.split()

['apple', 'is', 'a', 'fruit']

In [37]:
d=na.split()

In [42]:
name.isidentifier?

In [39]:
' '.join(d)

'apple is a fruit'

In [ ]:
1. Palindrome
2. "Apple is a fruit ." --> ". fruit a is Apple"

In [43]:
import random as r
num=r.randint(0,100)

In [48]:
num=r.randint(0,100)
num

42

In [49]:
#list

In [3]:
l=[]
L=[1,2,3,4,5,6,'a','b','c','apple','ball']

In [5]:
L[2:]

[3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'ball']

In [6]:
L.index('ball')

10

In [7]:
L[10]="bat"

In [8]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat']

In [56]:
del L[5]

In [9]:
L.append("cat")

In [10]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat', 'cat']

In [11]:
 l.append("mango")

In [12]:
l

['mango']

In [13]:
L.insert(5,"ice cream")

In [14]:
L

[1, 2, 3, 4, 5, 'ice cream', 6, 'a', 'b', 'c', 'apple', 'bat', 'cat']

In [16]:
L.pop()

'cat'

In [18]:
L.remove('ice cream')

In [19]:
L

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'apple', 'bat']

In [21]:
l.clear()

In [22]:
l

[]

In [23]:
L.count('a')

1

In [25]:
L.reverse()

In [26]:
L

['bat', 'apple', 'c', 'b', 'a', 6, 5, 4, 3, 2, 1]

In [27]:
L.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [30]:
L

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1]

In [28]:
l1=["mango","pine apple"]

In [29]:
l1

['mango', 'pine apple']

In [31]:
L+l1

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [33]:
L.extend(l1)

In [34]:
L

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [35]:
L

['a', 'apple', 'b', 'bat', 'c', 6, 5, 4, 3, 2, 1, 'mango', 'pine apple']

In [36]:
#Tuple
t=('a', 'apple', 'b', 'bat', 'c', 5, 4, 3, 2, 1, 'mango', 'pine apple')

In [82]:
#dictionary
#for loop
#library

In [37]:
t[4]="d"

TypeError: 'tuple' object does not support item assignment

In [38]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

In [39]:
t[2:7]

('b', 'bat', 'c', 5, 4)

python - intermediate level - network,GUI,threading - 15 hours
Maths - stats,linear algebra and calculus - 12-15 hours
ML -

ML Algorithms:-

1. Linear regression -> regression
2. Logistic regression -> Classification
3. SVM -> Classification
4. K-means -> clustering
5. KNN  -> clustering
6. Hierarchy clustering -> clustering
7. LDA -> topic modeling
8. TF-IDF -> topic modeling
9. Eclat -> associative learning
10. Aprior -> associative learning
11. Random forest -> Ensemble method
12. AdaBoost -> Ensemble method
13. Decision tree -> Classification
14. Naive Baye's -> Classification
15. PCA -> Dimensionality reduction

Neural Network:-

1. perceptron
2. sigmoid
3. multi layer preceptron
4. Backpropagation
4.a gradient descent
4.b stochostic gradient descent
5. Vanila neural network

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [2]:
print("hello world")

hello world

In [43]:
for i in range(21,30,2):
    #print("Hello")
    print(i)

21
23
25
27
29

In [44]:
name="apple"
for i in range(len(name)):
    print('hi')

hi
hi
hi
hi
hi

In [49]:
for i,j in enumerate(L[3:5]):
    print(i,j,sep="\t")

0	bat
1	c

take two numerical list of different length and print all the common numbers without duplicates.
take a numerical list and create a new list with the numbers which are less than 9

In [51]:
a = [1,2,2,3,3,3,4,4,4,4,5,5,5,5,5,]
b = [3,3,4,4,4,5,5,5,5,6,6,6,6,6,7,7,7,7,7]

In [52]:
c=[]
for i in a:
    for j in b:
        if i==j:
            if i not in c:
                c.append(i)
print(c)

[3, 4, 5]

In [53]:
c=[]
for i in a:
    if i in b and i not in c:
        c.append(i)
print(c)

[3, 4, 5]

In [55]:
list(set(a)&set(b))

[3, 4, 5]

In [ ]:
for i in a:
    if i <10:
        c.append(i)

In [56]:
d=[i for i in a if i<5]

In [57]:
d

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [58]:
import random as r
comp=r.randint(100,999)

In [61]:
comp=r.randint(100,999)
comp

369

In [3]:
#dictionary
d = {"a":"apple",'b':'ball',2:[4,6,7,8],'c':25,'a':"mango"}

In [4]:
d

{'a': 'mango', 'b': 'ball', 2: [4, 6, 7, 8], 'c': 25}

In [8]:
d['a']="papaya"

In [9]:
d

{'a': 'papaya', 'b': 'ball', 2: [4, 6, 7, 8], 'c': 25}

In [10]:
d['d']=('Sunday',"Saturday")

In [12]:
d['d']

('Sunday', 'Saturday')

In [13]:
d.keys()

dict_keys(['a', 'b', 2, 'c', 'd'])

In [14]:
d.values()

dict_values(['papaya', 'ball', [4, 6, 7, 8], 25, ('Sunday', 'Saturday')])

In [17]:
d.update({'e':"elephant"})

In [18]:
d

{'a': 'papaya',
 'b': 'ball',
 2: [4, 6, 7, 8],
 'c': 25,
 'd': ('Sunday', 'Saturday'),
 'e': 'elephant'}

In [19]:
d.items()

dict_items([('a', 'papaya'), ('b', 'ball'), (2, [4, 6, 7, 8]), ('c', 25), ('d', ('Sunday', 'Saturday')), ('e', 'elephant')])

In [21]:
d.get('e')

'elephant'

In [22]:
d.get('ball')

In [29]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [26]:
d

{'a': 'papaya',
 'b': 'ball',
 2: [4, 6, 7, 8],
 'd': ('Sunday', 'Saturday'),
 'e': 'elephant'}

In [30]:
for k,v in d.items():
    print(k,v,sep='\t')

a	papaya
b	ball
2	[4, 6, 7, 8]
d	('Sunday', 'Saturday')
e	elephant

In [32]:
for k in d.keys():
    print(k)
for v in d.values():
    print(v)

a
b
2
d
e
papaya
ball
[4, 6, 7, 8]
('Sunday', 'Saturday')
elephant

create a Birthday database in which user can add birth date of a person and also he can search for a date of a person.

functions:-
   1. add -> two inputs -> name and date -> "The  date of birth of john has been added to the DB."
   2. display -> one input -> name -> "The date of birth of John is 01-01-2001"

In [ ]:
d={"dhanvin":"09-01-2010","dhanvarsini":"11-01-2012","nisha":"20-09-1985","Prakash":"21-09-1979"}

uinput=int(input("What do you want to do? 1.Add 2.Search"))
if uinput==1:
    uname=input("Enter the name:")
    udob=input("Enter the date of birth:")
    d.update({uname:udob})
    print("The name",uname," and date of birth",udob,"is added successfully")
elif uinput==2:
    sname=input("Enter the name to search:")
    sdob=d.get(sname)
    if sdob==" ":
        print ("No such person")
    print("The date of birth of ",sname," is ",sdob)
else :
    print("Invalid input")

In [36]:
if 2 in d:
    print('yes')

yes

In [37]:
for k,v in d.items():
    if v=="ball":
        print(k)

b

In [38]:
d

{'a': 'papaya',
 'b': 'ball',
 2: [4, 6, 7, 8],
 'd': ('Sunday', 'Saturday'),
 'e': 'elephant'}

#package installation 
pip install <name>

In [39]:
import math

In [40]:
math.factorial(5)

120

In [41]:
import random as r

In [43]:
r.randint(0,10)

10

In [44]:
from math import sin,cos,factorial

In [45]:
factorial(5)

120

In [47]:
from sklearn.linear_model import LinearRegression,LogisticRegression

In [48]:
from random import *

In [52]:
sample("apple",2)

['l', 'e']

In [54]:
from sklearn.linear_model import *

In [ ]:
cow-bull
hangman

<h3> Rock-Paper-Scissor </h3>
1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [ ]:
#function
#file handling
#error handling
#oops

#tic-tac-toe

In [15]:
#function
def add(a,b=15):
    return a+b,a*b

In [19]:
c = int(input("c :"))
d = int(input("d :"))
s,m = add(c,d)

c :3
d :2

In [20]:
s

5

In [21]:
m

6

In [30]:
v = lambda x,y : x+y

In [28]:
v(7,4)

11

hello

In [45]:
try:
    print(g=5)
except (TypeError,NameError) as te:
    print("There is an error!!!")
    print(te)
print("hello")

There is an error!!!
'g' is an invalid keyword argument for this function
hello

In [47]:
try:
    print("hello")
    raise ValueError("User created this error...")
except ValueError as ve:
    print("caught the user error")
    print(ve)

hello
caught the user error
User created this error...

In [59]:
try:
    num = int(input("num : "))
    if num < 0:
        raise ValueError("Enter positive number")
except ValueError as e:
    print(e)
    num = int(input("num : "))
finally:
    print(num)

num : -6
Enter positive number
num : 7
7

In [55]:
num

2

In [ ]:
prime()
a = 10
b = 20
11 13 17 19

In [60]:
name="apple"

In [61]:
class A:
    def show(self,name):
        print(name)
    def fruit(self,name,fruit):
        print(name)
        print(fruit)

In [62]:
a = A()

In [63]:
a.show("mango")

mango

In [64]:
a.fruit("mango","papaya")

mango
papaya

In [105]:
class B:
    def __init__(self,name,fruit):
        self.name = name
        self.fruit = fruit
    def show(self):
        print(self.name)
    def fruits(self):
        print(self.name)
        print(self.fruit)

class C(B):
    def __init__(self,num,name,fruit):
        self.num = num
        self.name = name
        self.fruit = fruit
    def age(self):
        B.show(self)
        print(self.num)

In [86]:
b = c("dog","pineapple")

TypeError: 'int' object is not callable

In [83]:
b.fruits()

dog
pineapple

In [84]:
b.show()

dog

In [107]:
c = C(5,"dog","pineapple")

In [108]:
c.age()

dog
5

In [118]:
class parent:
    def method(self):
        print("parent class")

class child(parent):
    def method(self):
        print("child class")

In [119]:
ch = child()

In [120]:
ch.method()

child class

In [128]:
class D:
    def add(self,a,b,c=None):
        self.a = a
        self.b = b
        if c is not None:
            self.c = c
            print(self.a+self.b+self.c)
        else:
            print(self.a+self.b)

In [129]:
d = D()

In [131]:
d.add(10,5,15)

30

In [132]:
class E:
    a = 10
    def add(self,b):
        self.b = b
        print(self.b+E.a)

In [133]:
e = E()

In [136]:
e.a = 25

In [137]:
e.add(25)

35

In [138]:
def check()
def diagnol()
def display()

SyntaxError: invalid syntax (<ipython-input-138-28e06013b0bc>, line 1)

In [139]:
l = [3,4,5,6,7,3,2,1,0]

In [140]:
import numpy as np

In [142]:
m=np.reshape(l,[3,3])

In [143]:
m

array([[3, 4, 5],
       [6, 7, 3],
       [2, 1, 0]])

In [144]:
m[1] -> row

array([6, 7, 3])

In [145]:
m[:,1] -> column

array([4, 7, 1])

In [146]:
m[0][0] -> element

3

In [ ]:
txt,csv,tsv,excel,json

In [149]:
txtData = open("./sparkle.txt","a")
txtData.write("hey how do you do?\n")
txtData.write("doing good\n")
txtData.close()

In [159]:
txtData = open("./sparkle.txt","r")

In [151]:
txtData.read()

'hello,how are you\ni am fine\nhey how do you do?\ndoing good\n'

In [158]:
txtData.readline()

''

In [160]:
txtData.readlines()

['hello,how are you\n', 'i am fine\n', 'hey how do you do?\n', 'doing good\n']

In [161]:
import pandas as pd

In [164]:
csvData = pd.read_csv("./fruits_vege.csv",index_col=0)

In [165]:
csvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [166]:
csvData["fruit"]

a     apple
b     mango
c    orange
Name: fruit, dtype: object

In [167]:
csvData[["fruit","fruits 2"]]

    fruit    fruits 2
a   apple       apple
b   mango       mango
c  orange  pine apple

In [170]:
csvData.loc[:,"vegetable":"vegetable 2"]

  vegetable    fruits 2 vegetable 2
a     onion       apple       onion
b    potato       mango      potato
c     beans  pine apple      carrot

In [171]:
csvData["health"] = ['good','sweet','healthy']

In [173]:
csvData.describe()

         fruit vegetable    fruits 2 vegetable 2 health
count        3         3           3           3      3
unique       3         3           3           3      3
top     orange    potato  pine apple      potato   good
freq         1         1           1           1      1

In [175]:
csvData.head(2)

   fruit vegetable fruits 2 vegetable 2 health
a  apple     onion    apple       onion   good
b  mango    potato    mango      potato  sweet

In [180]:
tsvData = pd.read_csv("./fruits_vege.tsv",sep="\t",index_col=0)

In [181]:
tsvData

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [192]:
excelData = pd.read_excel("./Course Syllabus.xlsx",sheet_name="Deep Learning")

In [196]:
excelData.dropna(inplace=True)

In [197]:
excelData

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
9             3. Deep Learning for images    180 mins
15              3. Deep Learning for Text    150 mins
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
23                                  Total  18.5 hours

In [198]:
content = dict()

In [201]:
content["Duration"]=list(excelData["Duration"])

In [202]:
content

{'Syllabus': ['1. Introduction to Deep Learning (DL)',
  '2. Neural Network (NN) introduction',
  '3. Deep Learning for images',
  '3. Deep Learning for Text',
  '4.preprocessing Techniques for DL',
  '5.Tools for DL',
  '6.Practise',
  'Total'],
 'Duration': ['90 mins',
  '240 mins',
  '180 mins',
  '150 mins',
  '120 mins',
  '150 mins',
  '180 mins',
  '18.5 hours']}

In [205]:
df = pd.DataFrame(content,index=[1,2,3,4,5,6,7,8])

In [208]:
df.to_csv("./sparkle.tsv",sep="\t")

In [209]:
df.to_excel("./sparkle.xlsx")

In [211]:
df.to_json("sparkle.json")

In [212]:
pd.read_json("sparkle.json")

                                Syllabus    Duration
1  1. Introduction to Deep Learning (DL)     90 mins
2    2. Neural Network (NN) introduction    240 mins
3            3. Deep Learning for images    180 mins
4              3. Deep Learning for Text    150 mins
5      4.preprocessing Techniques for DL    120 mins
6                         5.Tools for DL    150 mins
7                             6.Practise    180 mins
8                                  Total  18.5 hours

In [213]:
import json

In [214]:
json.load(open("sparkle.json"))

{'Syllabus': {'1': '1. Introduction to Deep Learning (DL)',
  '2': '2. Neural Network (NN) introduction',
  '3': '3. Deep Learning for images',
  '4': '3. Deep Learning for Text',
  '5': '4.preprocessing Techniques for DL',
  '6': '5.Tools for DL',
  '7': '6.Practise',
  '8': 'Total'},
 'Duration': {'1': '90 mins',
  '2': '240 mins',
  '3': '180 mins',
  '4': '150 mins',
  '5': '120 mins',
  '6': '150 mins',
  '7': '180 mins',
  '8': '18.5 hours'}}

In [222]:
df["Duration"].map(str.split)

1       [90, mins]
2      [240, mins]
3      [180, mins]
4      [150, mins]
5      [120, mins]
6      [150, mins]
7      [180, mins]
8    [18.5, hours]
Name: Duration, dtype: object

In [ ]:
class student-mark-get
class student-total,max,min,sort
student name,sub1,sub2,.....,sub5,total

In [223]:
import logging

In [226]:
logger = logging.getLogger()
logger.setLevel(logging.INFO)
fmt = logging.Formatter("%(asctime)s [%(thread)d]: [%(message)s]")
#console = logging.FileHandler("./sparkling.log")
console =logging.StreamHandler()
console.setFormatter(fmt)
logger.addHandler(console)

In [227]:
logger.info("hey this is test log")

2018-10-21 21:10:56,889 [140457070741312]: [hey this is test log]

In [228]:
logger.info("helooooooooooo")

2018-10-21 21:11:28,309 [140457070741312]: [helooooooooooo]

In [230]:
import sqlite3

In [231]:
new = sqlite3.connect("./brass.db")

In [235]:
rows = new.execute("select id,name from DA")

In [236]:
for i in rows:
    print(i)

(0, 'mango')
(1, 'mango')
(2, 'mango')
(3, 'mango')
(4, 'mango')