In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics

data = pd.read_csv("./Advertising.csv", index_col=0)

print(data.head())

feature_names = ['TV', 'radio', 'newspaper']

X = data[feature_names]

y = data.sales

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

linreg = LinearRegression()

linreg.fit(X_train, y_train)

y_pred = linreg.predict(X_test)

print("error :",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9
error : 1.404651423032895

In [4]:
linreg.predict([[50,10,20]])

array([7.06578553])

In [7]:
from sklearn import tree

import pandas as pd

df=pd.read_csv("./weather.csv")

print(df.head)

model=tree.DecisionTreeClassifier()

x = df.loc[:,"outlook":"wind"]

y = df.play

model = model.fit(x,y)

prediction=model.predict([[0,1,1,0]])

<bound method NDFrame.head of     outlook  temperature  humidity  wind play
0         2            2         1     0   no
1         2            2         1     1   no
2         1            2         1     0  yes
3         0            1         1     0  yes
4         0            0         0     0  yes
5         0            0         0     1   no
6         1            0         0     1  yes
7         2            1         1     0   no
8         2            0         0     0  yes
9         0            1         0     0  yes
10        2            1         0     1  yes
11        1            1         1     1  yes
12        1            2         0     0  yes
13        0            1         1     1   no>

In [8]:
print(prediction)

['yes']

In [9]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [13]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
print(frequent_itemsets)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Eggs, Kidney Beans)

In [ ]:
https://linkedin.com/in/sharma-saravanan