In [1]:
print("hello world")

hello world

In [4]:
'''
a=5
b=10
print(a+b)
'''

'\na=5\nb=10\nprint(a+b)\n'

In [8]:
#variables and assignments
a = 10 #int
b = "apple" #string
c = 3.14 #float
d = True #bool

In [12]:
print(type(d))

<class 'bool'>

In [16]:
print(d)

True

In [30]:
# hello apple
# hello 10

# method 1
print("hello "+b)
print("hello "+str(a))
print("---------------------------------")

# method 2
print("hello",b)
print("hello",a)
print("---------------------------------")

# method 3
print("hello %s"%b)
print("hello %d"%a)
print("---------------------------------")

# method 4
print("hello {}".format(b))
print("hello {}".format(a))
print("---------------------------------")

hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------
hello apple
hello 10
---------------------------------

In [31]:
555+55+5

615

In [33]:
444+44+4

492

In [35]:
n=4
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

492

In [38]:
n=str(5)
ans=int(n+n+n)+int(n+n)+int(n)
print(ans)

615

In [ ]:
#operations
+ - * / %
< > <= >= == !=
not and or

In [47]:
#input from the user
num=int(input("Enter the value for num :"))

Enter the value for num :j

ValueError: invalid literal for int() with base 10: 'j'

In [45]:
print(num)

25

In [46]:
print(type(num))

<class 'int'>

In [54]:
#if-else
num=int(input("Enter the value for num :"))
if num%4==0:
    print("Divisible by 4 and also even")
elif num%2==0:
    print("even")
else:
    print("odd")

Enter the value for num :45
odd

<h3>Task 1</h3>
<center><h4>Rock-Paper-Scissor</h4></center> 
Rules:-
1. Rock beats scissor
2. Scissor beats paper
3. Paper beats rock

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [6]:
count = 0
opt='y'
while opt=='y':
    num=int(input("Enter the value for num :"))
    if num==15:
        print("goodbye...")
        print(count)
        break
    elif num==25:
        print("Skipping...")
        continue
    elif num==10:
        count+=1
        pass
    if num%4==0:
        print("Divisible by 4 and also even")
    elif num%2==0:
        print("even")
    else:
        print("odd")
    opt = input("Do you want to continue? y/n :")

Enter the value for num :78
even
Do you want to continue? y/n :y
Enter the value for num :36
Divisible by 4 and also even
Do you want to continue? y/n :n

In [8]:
#string function
name = "elephant"
num = "123"

In [11]:
name[:2]

'el'

In [14]:
name[2:8:2]

'ehn'

In [20]:
name[::-1]

'tnahpele'

In [16]:
name

'elephant'

In [61]:
name.capitalize()
name.casefold()
name.lower()
name.upper()
name.swapcase()
name.count('n')
name.endswith('ny')
name.startswith('a')
name[::-1].find('e')
name.index('e')
len( name)
"an apple ".title()
print(name.replace("e","z"))
" elephant  is ".strip()
name.isalnum()

zlzphant

True

In [48]:
num.isalnum()

True

In [50]:
name.isalpha()
num.isalpha()

False

In [52]:
name.isdecimal()
num.isdecimal()

True

In [58]:
name.isprintable()
' '.isspace()

True

In [56]:
"def".isidentifier()

True

In [59]:
name.istitle()

False

In [74]:
a = 'kdmf;k\n'

In [67]:
a

' '

In [68]:
if a:
    print('yes')

yes

In [69]:
a.isspace()

True

In [70]:
name.isprintable?

In [75]:
print(a)

kdmf;k

In [76]:
a.isprintable()

False

In [77]:
sent = "Elephant is an animal"

In [81]:
s1 = sent.split()

In [80]:
s2 = sent.split("a")

In [82]:
' '.join(s1)

'Elephant is an animal'

In [83]:
'a'.join(s2)

'Elephant is an animal'

### task 2
1. Check a given string is palindrome or not.
2. Input:- "it's somewhat odd, but it seems like the python-qt4 package"

   Output:- package python-qt4 the like seems it but ,odd somewhat it's

In [84]:
name == name[::-1]
sent2 =  "it's somewhat odd, but it seems like the python-qt4 package"

In [89]:
' '.join(sent2.split()[::-1])

"package python-qt4 the like seems it but odd, somewhat it's"

In [90]:
#list
l = list()

In [92]:
l = ['a',1,'b',2,'c',3,'d',4,'apple','ball']

In [93]:
l

['a', 1, 'b', 2, 'c', 3, 'd', 4, 'apple', 'ball']

In [95]:
l[2:]

['b', 2, 'c', 3, 'd', 4, 'apple', 'ball']

In [97]:
l[2] = "bat"

In [99]:
l.index('d')

6

In [100]:
del l[6]

'd'

In [101]:
l.append("mango")

In [102]:
l

['a', 1, 'bat', 2, 'c', 3, 'd', 4, 'apple', 'ball', 'mango']

In [103]:
l.insert(5,"orange")

In [104]:
l

['a', 1, 'bat', 2, 'c', 'orange', 3, 'd', 4, 'apple', 'ball', 'mango']

In [105]:
l.pop()

'mango'

In [106]:
l

['a', 1, 'bat', 2, 'c', 'orange', 3, 'd', 4, 'apple', 'ball']

In [107]:
l.remove(3)

In [108]:
l

['a', 1, 'bat', 2, 'c', 'orange', 'd', 4, 'apple', 'ball']

In [109]:
l.index(2)

3

In [111]:
l[3] = 'cat'

In [112]:
l

['a', 1, 'bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [116]:
print(l[2:])

['bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [121]:
l.reverse()

In [118]:
a

['a', 1, 'bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [123]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [124]:
l1 = ["mango","papaya"]

In [125]:
l1

['mango', 'papaya']

In [126]:
l

['a', 1, 'bat', 'cat', 'c', 'orange', 'd', 4, 'apple', 'ball']

In [127]:
l+l1

['a',
 1,
 'bat',
 'cat',
 'c',
 'orange',
 'd',
 4,
 'apple',
 'ball',
 'mango',
 'papaya']

In [128]:
l.extend(l1)

In [129]:
l

['a',
 1,
 'bat',
 'cat',
 'c',
 'orange',
 'd',
 4,
 'apple',
 'ball',
 'mango',
 'papaya']

In [133]:
#tuple
a=tuple(a)

In [134]:
a

('a',
 1,
 'bat',
 'cat',
 'c',
 'orange',
 'd',
 4,
 'apple',
 'ball',
 'mango',
 'papaya')

In [135]:
a[4:]

('c', 'orange', 'd', 4, 'apple', 'ball', 'mango', 'papaya')

In [137]:
a[3] = "dog"

TypeError: 'tuple' object does not support item assignment

In [138]:
del a[2]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
#library
#functions
#dictionary
#file handling
#error handling

In [142]:
#for loop
for i in range(21,30,2):
    #print("hello")
    print(i)

21
23
25
27
29

In [144]:
for i in range(len(l)):
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [149]:
for i in a[2:6]:
    print(i)

bat
cat
c
orange

In [150]:
for i in l:
    if i is None:
        print("no")

In [ ]:
is,is not, in ,not in

### Task 3
<h3> Cow Bull </h3>

Snippet:-

    import random as r 
    comp = r.randint(100,999)