In [1]:
#data types
a=5#int
pi=3.14#float
name='apple'#string
b=True#bool

In [5]:
print(type(b))

<class 'bool'>

In [10]:
print("hello world")

hello world

In [19]:
n=int(input("enter the value : "))

enter the value : 10

In [20]:
print(type(n))

<class 'int'>

In [28]:
#hello apple
#hello 10

#method 1
print("hello "+name)
print("hello "+str(n))

print("------------------")

#method 2
print("hello",name)
print("hello",n)

print("------------------")

#method 3
print("hello %s"%name)
print("hello %d"%n)

print("------------------")

#method 4
print("hello {}".format(name))
print("hello {}".format(n))

hello apple
hello 10
------------------
hello apple
hello 10
------------------
hello apple
hello 10
------------------
hello apple
hello 10

In [ ]:
+ - * / %
and or not
> < >= <= == !=

In [2]:
#if-else
num = int(input("Enter the numerical value : "))
if num%2==0:
    print("even")
else:
    print('odd')

Enter the numerical value : 5
odd

In [ ]:
#if-else-if
#if-else
num = int(input("Enter the numerical value : "))
if num%2=='b':
    print("even")
elif <condition>:
    <logic>
else:
    print('odd')

In [ ]:
the area of the sphere of radius 10cm is 120 sq.cm

In [4]:
print("a.circle\nb.sphere\nc.triangle")

a.circle
b.sphere
c.triangle

In [11]:
opt='y'
while opt=='y':
    num = int(input("Enter the numerical value : "))
    if num==15:
        print("goodbye...")
        break
    elif num==5:
        print("skipping...")
        continue
        
    if num%2==0:
        print("even")
    else:
        print('odd')
    opt=input("do you want to proceed? y/n")

Enter the numerical value : 14
even
do you want to proceed? y/ny
Enter the numerical value : 88
even
do you want to proceed? y/nn

#### Play rock paper scissors lizard spock

Scissors cuts paper.<br>
Paper covers rock.<br>
Rock crushes lizard.<br>
Lizard poisons Spock.<br>
Spock smashes scissors.<br>
Scissors decapitates lizard.<br>
Lizard eats paper.<br> 
Paper disproves Spock.<br> 
Spock vaporizes rock.<br> 
Rock crushes scissors.<br>

In [ ]:
https://github.com/sharmasaravanan/Machine_learning

In [42]:
#string
name="elephant is an animal"

In [43]:
print(name[2:5])

eph

In [44]:
name[2:5:2]

'eh'

In [45]:
name.capitalize()
name.casefold()
name.count('l')
name.endswith('nT')
name.startswith('Ele')
name.find(' is an')
name.index(' is an')
name.isalnum()
name.isalpha()
name.isdecimal()
name.isidentifier()
name.lower()
name.upper()
name.swapcase()
name.replace('a','Z')

'elephZnt is Zn ZnimZl'

In [51]:
name.lstrip()
name.rstrip()
name.strip()
d=name.split()

In [29]:
n.isdigit()

True

In [54]:
' '.join(d)

'elephant is an animal'

In [55]:
name="elephant"

In [56]:
name[::-1]

'tnahpele'

In [57]:
name

'elephant'

1. Palindrome
2. Input:- "Sun rises in the east ."
   Output:- ". east the in rises Sun"

In [59]:
name=input("Enter your name :")

Enter your name :hi

In [60]:
name

'hi'

In [62]:
name="Sun rises in the east ."
' '.join(name.split()[::-1])

'. east the in rises Sun'

In [63]:
l=[]

In [64]:
l1=[1,2,3,4,'a','b','c','d','apple','ball','cat','dog']

In [65]:
len(l1)

12

In [66]:
l1.index('ball')

9

In [67]:
l1[9]='bat'

In [68]:
print(l1)

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'apple', 'bat', 'cat', 'dog']

In [69]:
del l1[9]

In [70]:
l1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'apple', 'cat', 'dog']

In [73]:
l1.append("elephant")

In [76]:
l1.insert(9,"ball")

In [77]:
l1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', 'apple', 'ball', 'cat', 'dog', 'elephant']

In [78]:
l1.pop()

'elephant'

In [80]:
l1.remove(4)

In [82]:
l1.count('a')

1

In [84]:
l.clear()

In [85]:
l1.reverse

[]

# l1[::-1]

In [88]:
l1.reverse()

In [90]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [91]:
l2=['mango','orange']

In [92]:
l1

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1]

In [93]:
l1+l2

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1, 'mango', 'orange']

In [94]:
l1

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1]

In [95]:
l1.extend(l2)

#

In [96]:
l1

['a', 'apple', 'b', 'ball', 'c', 'cat', 'd', 'dog', 3, 2, 1, 'mango', 'orange']

In [100]:
import random as r
comp=r.randint(0,100)
comp

31

In [ ]:
Tuple
dictionary
for loop