In [1]:
print("hello world")

hello world

In [26]:
a=10
b=10
print(a+b)

20

In [2]:
a=10#int
pi=3.1475#float
name="apple"#string
p=True#bool

In [6]:
print(a)

10

In [10]:
print(type(p))

<class 'bool'>

In [11]:
A=20

In [12]:
a

10

In [13]:
A

20

In [17]:
print(pi)

3.14

In [20]:
print("HI hello...")

HI hello...

In [28]:
#hi hello apple 
print("Hi hello "+name)
#hi hello 10
print("hi hello",a)
print("hi hello "+str(a))

Hi hello apple
hi hello 10
hi hello 10

In [29]:
type(str(a))

str

In [31]:
'10'

'10'

In [32]:
n=5

In [37]:
int(str(n)+str(n)+str(n))+int(str(n)*2)+n

615

In [43]:
n=int(input("Enter the value for n :"))

Enter the value for n :hi

ValueError: invalid literal for int() with base 10: 'hi'

In [42]:
type(n)

int

In [3]:
print("The integer value is %d,the float value is %0.2f and the string is %s"%(a,pi,name))

The integer value is 10,the float value is 3.15 and the string is apple

In [ ]:
+ - / % *
and or not 
> < >= <= ==  !=

In [5]:
n=int(input("Enter the numerical value: "))
if n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the numerical value: 5
The number is odd

In [8]:
n=int(input("Enter the numerical value: "))
if n%4==0:
    print("The number is divisible by 4 and also even")
elif n%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter the numerical value: 5
The number is odd

In [15]:
cnt=0
i=1
while i<=3:
    n=int(input("Enter the numerical value: "))
    print(i,"-time")
    if n==15:
        print(cnt)
        print("Good bye...")
        break
    elif n==25:
        print("Skipping..")
        continue
    elif n==20:
        cnt+=1
        pass
    if n%4==0:
        print("The number is divisible by 4 and also even")
    elif n%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    i+=1

Enter the numerical value: 78
1 -time
The number is even
Enter the numerical value: 25
2 -time
Skipping..
Enter the numerical value: 88
2 -time
The number is divisible by 4 and also even
Enter the numerical value: 66
3 -time
The number is even

In [17]:
cnt=0
opt="y"
while opt=='y':
    n=int(input("Enter the numerical value: "))
    if n==15:
        print(cnt)
        print("Good bye...")
        break
    elif n==25:
        print("Skipping..")
        continue
    elif n==20:
        cnt+=1
        pass
    if n%4==0:
        print("The number is divisible by 4 and also even")
    elif n%2==0:
        print("The number is even")
    else:
        print("The number is odd")
    opt=input("Do you want to continue? y/n :")

Enter the numerical value: 95
The number is odd
Do you want to continue? y/n :y
Enter the numerical value: 63
The number is odd
Do you want to continue? y/n :n

In [ ]:
https://github.com/sharmasaravanan/Machine_learning