In [4]:
a = 5
b = 10
print(a+b)

15

In [7]:
num = 10
pi = 3.14
name = "apple"
p = True

In [8]:
print(type(num))

<class 'int'>

In [9]:
type(pi)

float

In [11]:
type(name)

str

In [12]:
type(p)

bool

In [15]:
print('hello world!!!')

hello world!!!

In [22]:
print(name,pi,num)

apple 3.14 10

In [20]:
print(type(n))

<class 'str'>

In [25]:
print("hello "+name)

hello apple

In [27]:
print("hello "+str(num))

hello 10

In [28]:
print("hello",num)

hello 10

In [39]:
n="5"
print(int(n*3)+int(n*2)+int(n))

615

In [50]:
num = float(input('Enter numerical value :'))
name = input("Enter the string :")

Enter numerical value :4
Enter the string :hi

In [51]:
num

4.0

In [48]:
name

'hello'

In [ ]:
+ - * / %
and or not
> < >= <= == !=

In [52]:
name ="apple"

In [53]:
print("An",name,"a day keeps doctor away...!!!")

An apple a day keeps doctor away...!!!

In [54]:
print("An "+name+" a day keeps doctor away...!!!")

An apple a day keeps doctor away...!!!

In [55]:
print("An %s a day keeps doctor away...!!!"%name)

An apple a day keeps doctor away...!!!

In [58]:
print("An %s a day keeps doctor away.. %0.2f .!!!"%(name,num))

An apple a day keeps doctor away.. 4.00 .!!!

In [71]:
r = int(input("Enter the radius of the circle :"))
area_c =3.14*r*r
print("The area of the circle is %0.2f sq.cm"%(area_c))

'\nr = int(input("Enter the radius of the circle :"))\narea_c =3.14*r*r\nprint("The area of the circle is %0.2f sq.cm"%(area_c))\n'

In [76]:
#if-else
num = int(input("Enter any number :"))
if num%2!=0:
    print("odd")
else:
    print("Even")

Enter any number :48
Even

In [79]:
#if-elseif 
num = int(input("Enter any number :"))
if num%4==0:
    print("divisible by 4 and even")
elif num%2==0:
    print("Even")
else:
    print("Odd")

Enter any number :15
Odd

In [83]:
opt = input("Enter any of the following \na. circle\nb. rectangle\nc. triangle\n")
if opt=="circle" or opt=='a':
    r = 
    area_c
    print()
elif opt == "re"
elif opt == tr
else:
    print()

Enter any of the following
a. circle
b. rectangle
c. triangle
a
circle

In [91]:
i = 0
while i<=len(name):
    num = int(input("Enter any number :"))
    if num == 15:
        print("stopping.....")
        break
    elif num == 10:
        print("skipping......")
        continue
    elif num == 20:
        print("Notification.....")
        pass
    if num%4==0:
        print("divisible by 4 and even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")
    i+=1

Enter any number :65
Odd
Do you want to continue y/n :y
Enter any number :78
Even
Do you want to continue y/n :n

In [93]:
rock,paper,scissor

5

In [ ]:
rock -> paper = paper
rock -> scissor = rock
paper -> scissor = scissor

In [94]:
import random as r
j=["rock","scissor","paper"]

In [97]:
r.choice(j)

'scissor'

In [98]:
#https://github.com/sharmasaravanan/Machine_learning

In [99]:
#pip install numpy

In [100]:
import numpy

In [ ]:
numpy.matrix

In [101]:
import numpy as np

In [ ]:
np.matrix

In [115]:
from math import sin,cos,tan,factorial

In [103]:
sin(90)

0.8939966636005579

In [104]:
from random import *

In [108]:
randint(0,20)

3

In [109]:
j

['rock', 'scissor', 'paper']

In [111]:
choice(j)

'paper'

In [114]:
randrange(0,10)

4

In [116]:
factorial(5)

120

In [ ]:
numpy,matplotlib,scipy,scikit-learn,nltk

In [ ]:
funtion
text file read and write
for loop
list

In [1]:
#14-7-18

In [2]:
name = "apple"

In [3]:
name.capitalize()

'Apple'

In [5]:
name.count('e')

1

In [7]:
name.encode("utf8")

b'apple'

In [10]:
name.endswith('.txt')

False

In [11]:
name.find('l')

3

In [12]:
name[2:]

'ple'

In [14]:
name[:3]

'app'

In [15]:
name[1:4]

'ppl'

In [16]:
name = "elephant"

In [17]:
name[1:5:2]

'lp'

In [18]:
name[1:5]

'leph'

In [19]:
name[::-1]

'tnahpele'

In [22]:
name[-5:-1]

'phan'

In [24]:
name.index('p')

3

In [25]:
name.isalnum()

True

In [26]:
name.isdigit()

False

In [27]:
name.islower()

True

In [28]:
name.isupper()

False

In [29]:
f= ' '

In [30]:
f.isspace()

True

In [31]:
name.upper()

'ELEPHANT'

In [32]:
name.swapcase()

'ELEPHANT'

In [33]:
f="ApPlE"

In [34]:
f.swapcase()

'aPpLe'

In [35]:
name.startswith("el")

True

In [36]:
name = " mango "

In [37]:
name

' mango '

In [38]:
name.rstrip()

' mango'

In [39]:
name.lstrip()

'mango '

In [40]:
name.strip()

'mango'

In [41]:
sent = "elephant is an animal"

In [55]:
d =sent.split("an")

print(d)

['eleph', 't is ', ' ', 'imal']

In [56]:
g="an".join(d)

"Elephant is an animal ." -> ". animal an is Elephant"

In [59]:
d = " ".join(g.split()[::-1])

In [68]:
" ".join(g.split()[::-1])

'animal an is elephant'

In [70]:
"animal .".split()

['animal', '.']

In [71]:
#list
l = []

In [72]:
ll = [1,"a","apple",2,"b","ball",3,'c','cat']

In [75]:
ll[::-1]

['cat', 'c', 3, 'ball', 'b', 2, 'apple', 'a', 1]

In [78]:
ll.reverse()

In [82]:
ll[4]="bat"

In [83]:
ll

[1, 'a', 'apple', 2, 'bat', 'ball', 3, 'c', 'cat']

In [84]:
ll.index(3)

6

In [85]:
del ll[6]

In [86]:
ll

[1, 'a', 'apple', 2, 'bat', 'ball', 'c', 'cat']

In [94]:
ll.append('dog')

In [95]:
ll

[1, 'a', 'apple', 2, 'bat', 'ball', 'c', 'cat', 'dog', 'dog']

In [90]:
l.append("mango")

In [96]:
ll.pop()

'dog'

In [97]:
ll

[1, 'a', 'apple', 2, 'bat', 'ball', 'c', 'cat', 'dog']

In [99]:
ll.insert(4,"mango")

In [100]:
ll

[1, 'a', 'apple', 2, 'mango', 'bat', 'ball', 'c', 'cat', 'dog']

In [101]:
ll.remove(2)

In [103]:
ll.count("a")

1

In [104]:
ll.extend("cat")

In [108]:
ll.pop()

'c'

In [109]:
ll

[1, 'a', 'apple', 'mango', 'bat', 'ball', 'c', 'cat', 'dog']

In [111]:
ll

[1, 'a', 'apple', 'mango', 'bat', 'ball', 'c', 'cat', 'dog']

In [115]:
for i in range(len(ll)):
    print(i)

0
1
2
3
4
5
6
7
8

In [116]:
len(ll)

9

In [125]:
for j in ll:
    print(j)

1
a
apple
mango
bat
ball
c
cat
dog

In [123]:
"5".isdigit()

True

In [126]:
t =("Monday","Tuesday","Wednesday","Thursday","Friday")

In [129]:
t[1]="Sunday"

TypeError: 'tuple' object does not support item assignment

In [130]:
del t[1]

TypeError: 'tuple' object doesn't support item deletion

In [133]:
for i in t[1:4]:
    print(i)

Tuesday
Wednesday
Thursday

In [138]:
d ={"a":"apple","b":"ball",3:"cat","d":4,"a":"mango"}

In [139]:
d.keys()

dict_keys(['a', 'b', 3, 'd'])

In [140]:
d.values()

dict_values(['mango', 'ball', 'cat', 4])

In [141]:
d["a"]

'mango'

In [144]:
d["c"]="cat"

In [147]:
print(d.items())

dict_items([('a', 'mango'), ('b', 'ball'), (3, 'cat'), ('d', 4), ('c', 'cat')])

In [151]:
for i,j in d.items():
    print(i)
    print(j)

a
mango
b
ball
3
cat
d
4
c
cat

a = [4,5,9,14,15,20,53,45,7,8,11,78,3,11,13,45] -> create a new list with even numbers from the list a.

a = [4,5,9,14,15,20,53,45,7,8,11,8,3,11,13,45] 
b = [4,9,21,5,3,4,11,17,19,45,79,45,65]

Print the numbers available in the both list a and b without duplicates.

In [153]:
a = [4,5,9,14,15,20,53,45,7,8,11,78,3,11,13,45]

In [154]:
d=[]
for i in a:
    if i%2==0:
        d.append(i)

In [155]:
d

[4, 14, 20, 8, 78]

In [156]:
f = [i for i in a if i%2==0]

In [157]:
f

[4, 14, 20, 8, 78]

In [159]:
a = [4,5,9,14,15,20,53,45,7,8,11,8,3,11,13,45]
b = [4,9,21,5,3,4,11,17,19,45,79,45,65]

In [164]:
c=[]
for i in a:
    if i in b:
        if i not in c:
            c.append(i)

In [165]:
c

[4, 5, 9, 45, 11, 3]

In [169]:
list(set(a)&set(b))

[3, 4, 5, 9, 11, 45]

In [167]:
set(a)

{3, 4, 5, 7, 8, 9, 11, 13, 14, 15, 20, 45, 53}

In [168]:
set(b)

{3, 4, 5, 9, 11, 17, 19, 21, 45, 65, 79}

In [183]:
def add(a,b,c=15):
    return a+b,a*b,a+c

In [187]:
c=int(input("a :"))
d=int(input("b :"))
s = add(c,d,100)

a :40
b :50

In [188]:
s

(90, 2000, 140)

In [180]:
m

450

In [ ]:
add()