In [5]:
num = int(input("Enter the value for num :"))
if num%4==0:
    print("divisible by 4")
elif num%2==0:
    print("even")
else:
    print("odd")

Enter the value for num :5
odd

In [11]:
cnt=0
name="sharma"
while cnt<len(name):
    num = int(input("Enter the value for num :"))
    if num==15:
        print("Good bye..")
        break
    elif num==25:
        print("skipping..")
        continue
    elif num == 10:
        pass
    if num%4==0:
        print("divisible by 4")
    elif num%2==0:
        print("even")
    else:
        print("odd")
    cnt+=1

Enter the value for num :14
even
Enter the value for num :16
divisible by 4
Enter the value for num :18
even
Enter the value for num :19
odd
Enter the value for num :21
odd
Enter the value for num :48
divisible by 4

In [12]:
import random as r

In [15]:
 r.randint(0,99)

71

In [16]:
name = "apple"

In [19]:
name[1:4]

'ppl'

In [20]:
name[3]

'l'

In [21]:
name[:3]

'app'

In [22]:
name[2:]

'ple'

In [32]:
name[::-1]

'elppa'

In [27]:
name

'apple'

In [33]:
name.capitalize()

'Apple'

In [38]:
name[0:5:2]

'ape'

In [42]:
name.count("p")

2

In [43]:
name.endswith("le")

True

In [45]:
name.startswith("apl")

False

In [46]:
name.find('e')

4

In [48]:
name.index('le')

3

In [50]:
name.replace('a',"b")

'bpple'

In [51]:
name.isalnum()

True

In [52]:
name.isalpha()

True

In [53]:
name.isdecimal()

False

In [58]:
n='5.5'

In [59]:
n.isdecimal()

False

In [60]:
n.isdigit()

False

In [61]:
name.islower()

True

In [62]:
name.isupper()

False

In [63]:
name.isspace()

False

In [64]:
name = " apple "

In [66]:
name.lstrip()

'apple '

In [67]:
name.rstrip()

' apple'

In [68]:
name.strip()

'apple'

In [69]:
sent = "Elephant is an animal"

In [72]:
ss = sent.split('an')

In [73]:
ss

['Eleph', 't is ', ' ', 'imal']

In [76]:
"an".join(ss)

'Elephant is an animal'

Elephant is an animal . -> . animal an is Elephant

In [80]:
" ".join(sent.split()[::-1])

'animal an is Elephant'

In [1]:
l=[]

In [3]:
ll=[1,2,3,4,5,'a','b','c','d',"apple","ball","cat"]

In [12]:
ll[3:11:3]

[4, 'b', 'apple']

In [9]:
len(ll)

12

In [13]:
ll[0]="dog"

In [15]:
ll.index('c')

7

In [16]:
ll[7]="mango"

In [17]:
ll

['dog', 2, 3, 4, 5, 'a', 'b', 'mango', 'd', 'apple', 'ball', 'cat']

In [18]:
l

[]

In [19]:
l.append("apple")

In [25]:
ll.append("orange")

In [22]:
ll

['dog', 2, 3, 4, 5, 'a', 'b', 'mango', 'd', 'apple', 'ball', 'cat', 'orange']

In [23]:
ll.insert(5,"elephant")

In [24]:
ll

['dog',
 2,
 3,
 4,
 5,
 'elephant',
 'a',
 'b',
 'mango',
 'd',
 'apple',
 'ball',
 'cat',
 'orange']

In [27]:
ll.pop()

'orange'

In [28]:
ll

['dog',
 2,
 3,
 4,
 5,
 'elephant',
 'a',
 'b',
 'mango',
 'd',
 'apple',
 'ball',
 'cat',
 'orange']

In [29]:
ll.remove(5)

In [30]:
ll

['dog',
 2,
 3,
 4,
 'elephant',
 'a',
 'b',
 'mango',
 'd',
 'apple',
 'ball',
 'cat',
 'orange']

In [31]:
ll.count(2)

1

In [32]:
l.clear()

In [34]:
ll

['dog',
 2,
 3,
 4,
 'elephant',
 'a',
 'b',
 'mango',
 'd',
 'apple',
 'ball',
 'cat',
 'orange']

In [35]:
 t=('dog',
 2,
 3,
 4,
 'elephant',
 'a',
 'b',
 'mango',
 'd',
 'apple',
 'ball',
 'cat',
 'orange')

In [37]:
t[2:6]

(3, 4, 'elephant', 'a')

In [39]:
t[2]=8

TypeError: 'tuple' object does not support item assignment

In [40]:
ll.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [52]:
for i,j in enumerate(ll):
    print(i,j)

0 dog
1 2
2 3
3 4
4 elephant
5 a
6 b
7 mango
8 d
9 apple
10 ball
11 cat
12 orange

In [53]:
for i in range(len(a)):
    for j in range(len(b)):
        if a[i]==b[j]:
            print(a[i])

SyntaxError: unexpected EOF while parsing (<ipython-input-53-0770b38e38cd>, line 3)

In [ ]:
for i in a:
    for j in b:
        if i==j:
            print(a)

In [ ]:
set(a)&set(b)

In [ ]:
for i in a:
    if i <=7:
        c.append(i)

In [ ]:
c=[i for i in a if i<=7]

In [63]:
d={'a':'apple','b':'ball',2:'cat','d':4,2:"bat"}

In [55]:
d.keys()

dict_keys(['a', 'b', 2, 'd'])

In [56]:
d.values()

dict_values(['apple', 'ball', 'cat', 4])

In [61]:
d[4]="dog"

In [64]:
d

{'a': 'apple', 'b': 'ball', 2: 'bat', 'd': 4}

In [68]:
for i in d.items():
    print(i)

('a', 'apple')
('b', 'ball')
(2, 'bat')
('d', 4)

In [ ]:
user -> a-> adding     -> "The date of birth of john has been added to the database"
        b-> displaying -> "The date of birth of john is 01/01/01"

In [73]:
f = open("olive.txt","a")
f.write("\nhow do you do?")
f.close()

In [80]:
fr = open("olive.txt","r")
fr.readlines()

['hi hello\n', 'how are you?,\n', 'i am good\n', 'how do you do?']

In [79]:
fr.readline()

''

In [91]:
try:
    print(b)
except NameError:
    print("there is some error")
except ValueError
finally:
    a=10
    print(a)

there is some error
10

In [92]:
import random as r

In [93]:
import random

In [95]:
r.randint(0,20)

13

In [99]:
r.sample("apple",2)

['p', 'p']

In [103]:
r.choice(ll)

'mango'

In [104]:
from math import sin,cos,factorial

In [105]:
factorial(5)

120

In [106]:
from math import *

In [ ]:
A-Z,a-z,0-9,

In [ ]:
#function

In [17]:
def add(a,b=15):
    return a+b,a*b

In [18]:
c=int(input("a: "))
#d=int(input("b: "))
s,m=add(c)
print("Addition is:",s,"\nMultiplication is :",m)

a: 5
Addition is: 20
Multiplication is : 75

In [6]:
s

40

In [7]:
m

300

In [19]:
ind=[1,2,3,4,5,6,7,8,9]

In [20]:
import numpy as np

In [29]:
M=np.reshape(ind,[3,3])

In [30]:
M

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [34]:
M[2]

array([7, 8, 9])

In [36]:
M[:,1]

array([2, 5, 8])

In [38]:
M[2][1]

8

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
import pickle

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
data = pd.read_csv("./Advertising.csv",index_col=0)

In [5]:
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [38]:
x = data[["TV","radio","newspaper"]]

In [39]:
y =  data.sales

In [40]:
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [41]:
model = LinearRegression()

In [42]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [43]:
y_pred = model.predict(X_test)

print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.6616119550105768

In [45]:
model.predict([[75,75,75]])

array([20.33113237])

In [46]:
fname="model_olive.sav"

pickle.dump(model, open(fname, 'wb'))

In [4]:
import pickle
fname="model_olive.sav"
loaded_model=pickle.load(open(fname, 'rb'))

In [5]:
loaded_model.predict([[75,75,75]])

array([20.33113237])

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv("./labeledTrainData.tsv",delimiter="\t")

In [9]:
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

In [10]:
df.dropna(inplace=True)

In [11]:
df["rated"]=np.where(df['sentiment']>0,1,0)

In [12]:
df.head()

       id  sentiment                                             review  rated
0  5814_8          1  With all this stuff going down at the moment w...      1
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...      1
2  7759_3          0  The film starts with a manager (Nicholas Bell)...      0
3  3630_4          0  It must be assumed that those who praised this...      0
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...      1

In [13]:
X_train, X_test, y_train, y_test = train_test_split(df['review'],df['rated'])

In [15]:
vect=CountVectorizer(min_df=5,ngram_range=(1,2)).fit(X_train)

X_train_vetorised=vect.transform(X_train)

In [16]:
X_train_vetorised

<18750x123312 sparse matrix of type '<class 'numpy.int64'>'
	with 5107580 stored elements in Compressed Sparse Row format>

In [17]:
model=LogisticRegression()

model.fit(X_train_vetorised,y_train)

predictions=model.predict(vect.transform(X_test))

In [18]:
accuracy_score(y_true=y_test,y_pred=predictions)

0.89072

In [21]:
testing=input("Enter the sentence for testing: ")

print(model.predict(vect.transform([testing])))

Enter the sentence for testing: the movie was not good at all.
[0]

In [20]:

feature_name=np.array(vect.get_feature_names())

sort_coeff=model.coef_[0].argsort()

print ("small coeff : {}",format(feature_name[sort_coeff[:10]]))

print ("large coeff : {}",format(feature_name[sort_coeff[:-11:-1]]))

small coeff : {} ['worst' 'awful' 'waste' 'boring' 'disappointment' 'lacks' 'poorly'
 'terrible' 'worse' 'poor']
large coeff : {} ['excellent' 'perfect' 'superb' 'wonderful' 'enjoyable' 'amazing'
 'better than' 'today' 'very good' '10 10']

In [22]:
vect.get_feature_names()

['00',
 '00 and',
 '00 in',
 '000',
 '000 00',
 '000 000',
 '000 and',
 '000 for',
 '000 the',
 '000 to',
 '000 year',
 '000 years',
 '007',
 '01',
 '02',
 '03',
 '05',
 '06',
 '07',
 '08',
 '09',
 '10',
 '10 000',
 '10 10',
 '10 15',
 '10 and',
 '10 as',
 '10 at',
 '10 because',
 '10 bethany',
 '10 br',
 '10 but',
 '10 dir',
 '10 don',
 '10 favorite',
 '10 for',
 '10 from',
 '10 good',
 '10 if',
 '10 in',
 '10 instead',
 '10 is',
 '10 it',
 '10 items',
 '10 just',
 '10 line',
 '10 lines',
 '10 million',
 '10 minute',
 '10 minutes',
 '10 movie',
 '10 movies',
 '10 my',
 '10 no',
 '10 not',
 '10 of',
 '10 on',
 '10 only',
 '10 or',
 '10 out',
 '10 overall',
 '10 people',
 '10 points',
 '10 rating',
 '10 seconds',
 '10 star',
 '10 stars',
 '10 that',
 '10 the',
 '10 there',
 '10 this',
 '10 times',
 '10 to',
 '10 was',
 '10 worst',
 '10 would',
 '10 year',
 '10 years',
 '100',
 '100 000',
 '100 films',
 '100 greatest',
 '100 million',
 '100 minutes',
 '100 movies',
 '100 of',
 '100 sure',
 '100 the',
 '100 times',
 '100 years',
 '1000',
 '1000 times',
 '100th',
 '101',
 '101 dalmatians',
 '101 minutes',
 '102',
 '102 dalmatians',
 '103',
 '104',
 '105',
 '105 minutes',
 '10s',
 '10th',
 '11',
 '11 2001',
 '11 and',
 '11 but',
 '11 in',
 '11 is',
 '11 minutes',
 '11 or',
 '11 year',
 '11 years',
 '110',
 '11th',
 '12',
 '12 000',
 '12 and',
 '12 million',
 '12 monkeys',
 '12 year',
 '12 years',
 '120',
 '12th',
 '13',
 '13 and',
 '13 br',
 '13 but',
 '13 for',
 '13 or',
 '13 rating',
 '13 year',
 '13 years',
 '135',
 '13th',
 '13th and',
 '13th part',
 '14',
 '14 and',
 '14 year',
 '14 years',
 '140',
 '14th',
 '14th arrondissement',
 '15',
 '15 20',
 '15 and',
 '15 min',
 '15 minute',
 '15 minutes',
 '15 or',
 '15 seconds',
 '15 year',
 '15 years',
 '150',
 '150 years',
 '15th',
 '16',
 '16 and',
 '16 year',
 '16 years',
 '160',
 '16mm',
 '16s',
 '16th',
 '16th century',
 '17',
 '17 and',
 '17 or',
 '17 year',
 '17 years',
 '17th',
 '17th century',
 '18',
 '18 and',
 '18 year',
 '18 years',
 '180',
 '1800',
 '1800s',
 '1830',
 '1840',
 '1860',
 '18th',
 '18th century',
 '19',
 '19 year',
 '19 years',
 '1900',
 '1900s',
 '1909',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1920',
 '1920s',
 '1920s and',
 '1921',
 '1922',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1930 and',
 '1930s',
 '1930s and',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1936 and',
 '1936 the',
 '1937',
 '1938',
 '1939',
 '1939 and',
 '1940',
 '1940 and',
 '1940s',
 '1940s and',
 '1941',
 '1942',
 '1943',
 '1944',
 '1944 and',
 '1945',
 '1945 is',
 '1946',
 '1947',
 '1948',
 '1949',
 '1949 and',
 '1950',
 '1950 and',
 '1950 br',
 '1950 it',
 '1950 the',
 '1950s',
 '1950s and',
 '1950s br',
 '1951',
 '1951 and',
 '1952',
 '1953',
 '1953 and',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1958 and',
 '1959',
 '1960',
 '1960 to',
 '1960 version',
 '1960s',
 '1960s and',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1968 and',
 '1969',
 '1969 and',
 '1970',
 '1970 and',
 '1970 the',
 '1970s',
 '1970s and',
 '1971',
 '1971 and',
 '1971 the',
 '1972',
 '1972 and',
 '1973',
 '1973 and',
 '1973 the',
 '1974',
 '1974 and',
 '1975',
 '1975 and',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980 and',
 '1980 in',
 '1980 this',
 '1980s',
 '1980s and',
 '1980s the',
 '1981',
 '1981 and',
 '1982',
 '1983',
 '1983 and',
 '1984',
 '1984 the',
 '1984 was',
 '1985',
 '1985 and',
 '1986',
 '1986 and',
 '1987',
 '1988',
 '1989',
 '1989 and',
 '1990',
 '1990 and',
 '1990 the',
 '1990s',
 '1991',
 '1991 the',
 '1992',
 '1993',
 '1993 is',
 '1994',
 '1994 the',
 '1995',
 '1995 and',
 '1995 the',
 '1996',
 '1996 and',
 '1996 in',
 '1997',
 '1997 and',
 '1997 the',
 '1997 version',
 '1998',
 '1999',
 '1999 and',
 '1999 br',
 '1999 it',
 '19th',
 '19th century',
 '1st',
 '1st one',
 '1st season',
 '1st watched',
 '20',
 '20 000',
 '20 30',
 '20 and',
 '20 million',
 '20 minute',
 '20 minutes',
 '20 of',
 '20 or',
 '20 seconds',
 '20 something',
 '20 times',
 '20 year',
 '20 years',
 '200',
 '200 000',
 '2000',
 '2000 and',
 '2000 br',
 '2000 the',
 '2000s',
 '2001',
 '2001 and',
 '2001 br',
 '2001 space',
 '2001 the',
 '2002',
 '2002 and',
 '2002 out',
 '2003',
 '2003 and',
 '2003 the',
 '2004',
 '2004 and',
 '2005',
 '2005 and',
 '2005 br',
 '2005 it',
 '2005 the',
 '2006',
 '2006 and',
 '2006 br',
 '2006 but',
 '2006 it',
 '2006 the',
 '2007',
 '2007 and',
 '2007 br',
 '2008',
 '2008 and',
 '2008 it',
 '2009',
 '2009 out',
 '2010',
 '2022',
 '2036',
 '2054',
 '20s',
 '20th',
 '20th century',
 '21',
 '21 years',
 '21st',
 '21st century',
 '22',
 '22 minutes',
 '22 years',
 '23',
 '23 and',
 '23 year',
 '23 years',
 '24',
 '24 and',
 '24 but',
 '24 hour',
 '24 hours',
 '24 year',
 '24 years',
 '25',
 '25 000',
 '25 minutes',
 '25 times',
 '25 year',
 '25 years',
 '250',
 '250 000',
 '25th',
 '26',
 '26 years',
 '27',
 '28',
 '28 days',
 '29',
 '2d',
 '2nd',
 '2nd film',
 '2nd half',
 '30',
 '30 and',
 '30 mins',
 '30 minute',
 '30 minutes',
 '30 or',
 '30 seconds',
 '30 something',
 '30 year',
 '30 years',
 '300',
 '3000',
 '30s',
 '30s and',
 '30th',
 '31',
 '32',
 '33',
 '34',
 '35',
 '35 minutes',
 '35 mm',
 '35 years',
 '35mm',
 '36',
 '360',
 '360 degree',
 '37',
 '38',
 '39',
 '3d',
 '3k',
 '3rd',
 '3rd rate',
 '40',
 '40 and',
 '40 minute',
 '40 minutes',
 '40 or',
 '40 something',
 '40 year',
 '40 years',
 '400',
 '40s',
 '40s and',
 '41',
 '42',
 '42nd',
 '42nd street',
 '43',
 '44',
 '45',
 '45 minute',
 '45 minutes',
 '46',
 '47',
 '47 years',
 '48',
 '48 hours',
 '49',
 '4th',
 '4th man',
 '50',
 '50 000',
 '50 60',
 '50 and',
 '50 cars',
 '50 cents',
 '50 foot',
 '50 for',
 '50 million',
 '50 minute',
 '50 minutes',
 '50 movie',
 '50 of',
 '50 this',
 '50 times',
 '50 to',
 '50 when',
 '50 year',
 '50 years',
 '500',
 '500 years',
 '5000',
 '50s',
 '50s and',
 '50s sci',
 '51',
 '52',
 '53',
 '54',
 '55',
 '55 years',
 '56',
 '57',
 '58',
 '5th',
 '60',
 '60 000',
 '60 and',
 '60 but',
 '60 minutes',
 '60 seconds',
 '60 year',
 '60 years',
 '600',
 '60s',
 '60s and',
 '60s br',
 '60s early',
 '60s it',
 '60s the',
 '61',
 '62',
 '63',
 '64',
 '65',
 '65 minutes',
 '66',
 '666',
 '67',
 '68',
 '69',
 '6th',
 '70',
 '70 and',
 '70 br',
 '70 early',
 '70 film',
 '70 it',
 '70 made',
 '70 minutes',
 '70 of',
 '70 the',
 '70 was',
 '70 were',
 '70 when',
 '70 year',
 '70 years',
 '700',
 '700 club',
 '70s',
 '70s and',
 '70s it',
 '70s show',
 '71',
 '72',
 '73',
 '73 is',
 '73 minutes',
 '74',
 '75',
 '75 minutes',
 '75 of',
 '75 to',
 '750',
 '76',
 '76 minutes',
 '77',
 '78',
 '79',
 '7th',
 '80',
 '80 and',
 '80 but',
 '80 comedy',
 '80 horror',
 '80 it',
 '80 minute',
 '80 minutes',
 '80 movie',
 '80 of',
 '80 slasher',
 '80 slashers',
 '80 teen',
 '80 that',
 '80 the',
 '80 this',
 '80 were',
 '80 when',
 '80 with',
 '80 years',
 '80s',
 '80s and',
 '80s but',
 '80s music',
 '80s slasher',
 '80s the',
 '80s you',
 '81',
 '82',
 '82 minutes',
 '83',
 '84',
 '84 minutes',
 '85',
 '85 br',
 '85 minutes',
 '86',
 '86 minutes',
 '87',
 '88',
 '88 minutes',
 '89',
 '89 minutes',
 '8mm',
 '8th',
 '90',
 '90 and',
 '90 br',
 '90 but',
 '90 is',
 '90 min',
 '90 minute',
 '90 minutes',
 '90 odd',
 '90 of',
 '90 seconds',
 '90 the',
 '90 year',
 '90210',
 '90s',
 '90s and',
 '91',
 '911',
 '92',
 '93',
 '94',
 '94 minutes',
 '95',
 '95 minutes',
 '95 of',
 '96',
 '97',
 '97 minutes',
 '98',
 '98 minutes',
 '99',
 '99 cents',
 '99 of',
 '9th',
 'aaa',
 'aag',
 'aames',
 'aamir',
 'aardman',
 'aaron',
 'ab',
 'aback',
 'aback by',
 'abandon',
 'abandon the',
 'abandoned',
 'abandoned baby',
 'abandoned by',
 'abandoned the',
 'abandoning',
 'abandonment',
 'abandons',
 'abbas',
 'abbey',
 'abbot',
 'abbott',
 'abbott and',
 'abbott costello',
 'abbreviated',
 'abby',
 'abc',
 'abc family',
 'abc has',
 'abducted',
 'abducted and',
 'abducted by',
 'abduction',
 'abe',
 'abe lincoln',
 'abel',
 'abetted',
 'abetted by',
 'abhay',
 'abhay deol',
 'abhishek',
 'abhorrent',
 'abiding',
 'abigail',
 'abilities',
 'abilities and',
 'abilities of',
 'abilities to',
 'ability',
 'ability and',
 'ability as',
 'ability in',
 'ability is',
 'ability of',
 'ability to',
 'abject',
 'able',
 'able and',
 'able to',
 'ably',
 'ably supported',
 'abnormal',
 'aboard',
 'aboard the',
 'abominable',
 'abomination',
 'abomination of',
 'abominations',
 'aboriginal',
 'aborigine',
 'aborigines',
 'aborted',
 'abortion',
 'abortion and',
 'abortions',
 'abound',
 'abound in',
 'abounds',
 'about',
 'about 000',
 'about 10',
 'about 100',
 'about 11',
 'about 12',
 'about 13',
 'about 14',
 'about 15',
 'about 20',
 'about 25',
 'about 30',
 'about 35',
 'about 40',
 'about 45',
 'about 50',
 'about 500',
 'about 80',
 'about 90',
 'about acting',
 'about all',
 'about also',
 'about america',
 'about american',
 'about an',
 'about and',
 'about another',
 'about any',
 'about anyone',
 'about anything',
 'about anyway',
 'about are',
 'about as',
 'about at',
 'about bad',
 'about baseball',
 'about beautiful',
 'about because',
 'about becoming',
 'about being',
 'about big',
 'about black',
 'about blood',
 'about boy',
 'about br',
 'about bunch',
 'about but',
 'about buying',
 'about by',
 'about certain',
 'about characters',
 'about cinema',
 'about computers',
 'about cop',
 'about couple',
 'about dancing',
 'about death',
 'about different',
 'about doing',
 'about don',
 'about dozen',
 'about each',
 'about eight',
 'about eve',
 'about even',
 'about every',
 'about everyone',
 'about everything',
 'about family',
 'about female',
 'about fifteen',
 'about film',
 'about films',
 'about finding',
 'about five',
 'about following',
 'about football',
 'about for',
 'about four',
 'about friendship',
 'about gay',
 'about getting',
 'about girl',
 'about giving',
 'about going',
 'about good',
 'about group',
 'about growing',
 'about guy',
 'about half',
 'about halfway',
 'about having',
 'about he',
 'about her',
 'about here',
 'about herself',
 'about high',
 'about him',
 'about himself',
 'about his',
 'about hitler',
 'about horror',
 'about hours',
 'about how',
 'about human',
 'about humanity',
 'about ideas',
 'about if',
 'about in',
 'about is',
 'about it',
 'about its',
 'about jack',
 'about japanese',
 'about jesus',
 'about just',
 'about kid',
 'about kids',
 'about killer',
 'about killing',
 'about life',
 'about like',
 'about little',
 'about living',
 'about lost',
 'about lot',
 'about love',
 'about low',
 'about making',
 'about man',
 'about many',
 'about mary',
 'about me',
 'about men',
 'about michael',
 'about middle',
 'about million',
 'about minute',
 'about minutes',
 'about missing',
 'about modern',
 'about more',
 'about movie',
 'about movies',
 'about mr',
 'about murder',
 'about music',
 'about my',
 'about new',
 'about nine',
 'about non',
 'about not',
 'about nothing',
 'about now',
 'about of',
 'about old',
 'about on',
 'about once',
 'about one',
 'about or',
 'about other',
 'about our',
 'about out',
 'about people',
 'about peter',
 'about plot',
 'about politics',
 'about poor',
 'about racism',
 'about real',
 'about really',
 'about relationships',
 'about religion',
 'about renting',
 'about rich',
 'about right',
 'about sam',
 'about school',
 'about seconds',
 'about seeing',
 'about self',
 'about serial',
 'about seven',
 'about sex',
 'about sexual',
 'about showing',
 'about six',
 'about small',
 'about so',
 'about soccer',
 'about some',
 'about something',
 'about story',
 'about such',
 'about sums',
 'about survival',
 'about taking',
 'about teenage',
 'about ten',
 'about that',
 'about the',
 'about their',
 'about them',
 'about themselves',
 'about there',
 'about these',
 'about they',
 'about things',
 'about third',
 'about thirty',
 'about this',
 'about those',
 'about three',
 'about time',
 'about times',
 'about to',
 'about tom',
 'about town',
 'about troubled',
 'about true',
 'about trying',
 'about twenty',
 'about two',
 'about us',
 'about vampires',
 'about very',
 'about vietnam',
 'about war',
 'about was',
 'about watching',
 ...]